<div class="jm-masshead" <?php if(isset($config['background'])): ?> style="height: 150px; background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$config['background']; ?>)" <?php endif; ?>>
		<?php if(isset($config['link'])): ?><a class="main" href="<?php echo $config['link']; ?>">
			<div class="main">
			
				<?php if(isset($config['title'])): ?><h3 class="ja-masshead-title"><span><?php echo $config['title']; ?></span></h3><?php endif; ?>
				<?php if(isset($config['description'])): ?><div class="ja-masshead-desc"><span><?php echo $config['description']; ?></span></div><?php endif; ?>
			</div>
		</a><?php endif; ?>
</div>
