<?php
echo 'TREFFER';
?>
<?php
/**
 * One page checkout payment methods
 *
 * @var $this Mage_Checkout_Block_Onepage_Payment_Methods
 */
?>
<script type="text/javascript">
    delete window.ppp;
</script>
<?php
$methods = $this->getMethods();
$oneMethod = count($methods) <= 1;

$thirdPartyMethods = $this->getThirdPartyMethods();
$pppActive = $this->isPPPActive();

$hideStyle = ' style="display:none;"';
?>
<dl class="sp-methods" id="checkout-payment-method-load">
<?php if (empty($methods) && !$pppActive): ?>
    <dt>
        <?php echo $this->__('No Payment Methods') ?>
    </dt>
<?php else: ?>

    <?php //else:
    foreach ($methods as $_method) :
        $_code = $_method->getCode();
        if (isset($thirdPartyMethods[$_code]) && $pppActive) {
            $hide = true;
        } else {
            $hide = false;
        }
        ?>
        <dt class="ppp <?php echo $_code ?>"<?php if ($hide || $_code == Iways_PayPalPlus_Model_Payment::METHOD_CODE) {
            echo $hideStyle;
        } ?>>
            <?php if (!$oneMethod): ?>
                <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio"
                       name="payment[method]" title="<?php echo $this->escapeHtml($_method->getTitle()) ?>"
                       onclick=""
                    <?php if ($this->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?>
                       class="radio"/>
            <?php else: ?>
                <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>"
                                                type="radio" name="payment[method]" checked="checked"
                                                class="radio"/></span>
                <?php $oneMethod = $_code; ?>
            <?php endif; ?>
            <label for="p_method_<?php echo $_code ?>">
                <?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?>
                <?php echo $this->getMethodLabelAfterHtml($_method) ?>
            </label>
        </dt>
        <dd class="ppp <?php echo $_code ?>"<?php if ($hide) {
            echo $hideStyle;
        } ?>><?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?><?php echo $html; ?><?php endif; ?></dd>
    <?php endforeach;
endif;
?>
    </dl>
<?php echo $this->getChildChildHtml('additional'); ?>
<script type="text/javascript">
    //<![CDATA[
    <?php echo $this->getChildChildHtml('scripts'); ?>
    payment.init();

    //]]>
</script>
