<!--@subject Newsletter Anmeldung erfolgreich @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h3>Wir haben Dich erfolgreich für unseren Newsletter angemeldet.</h3>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{var subscriber.getUnsubscribeUrl()}}"><span>Abmelden</span></a>
            12{{var subscriber.getUnsubscribeUrl()}}34
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
