{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h2>Deine Newsletter Anmeldung war erfolgreich!</h2>
            <p>
                Mit der Anmeldung zu unserem kostenlosen Newsletter erhältst du künftig die aktuellsten<br />
                Angebote, interessante Produkt-Neuheiten, Informationen zu Schnäppchen und Rabattaktionen<br />
                direkt in dein EMail-Postfach.<br />
            </p>
            <p>
                Du kannst den Newsletter jederzeit wieder abbestellen.<br />
                Hinweise dazu findest du immer am Ende eines jeden Newsletters und dieser E-Mail.
            </p>
            <p>
                Wir wünschen dir viel Spaß mit unserem Newsletter<br />
                <strong>Dein Brands4Bikes Team</strong>
            </p>
            <p style="text-align: center;"><a class="darkbutton" href="{{var subscriber.getUnsubscribeUrl()}}">Newsletter Abbestellen</a>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}