/* CSS Document */
#jmoverlay {
  background: none repeat scroll 0 0 transparent;
  height: 100% !important;
  left: 0;
  min-height: 100% !important;
  position: fixed !important;
  top: 0;
  width: 100% !important;
  z-index: 3;
  zoom: 1;
  background-color: #000;
  opacity: 0.05;
  filter: alpha(opacity=5);
}

#cboxLoadedContent .cart-collaterals .totals {
 width: 100% !important;
}

.cartmessage div.button {
	text-align: center;
	padding: 20px 0;
}
