<div class="jm-product-list <?php echo $config['mode']; ?> clearfix block">	
		<?php if($config['title']){?><div class="page-title category-title"><h2><?php echo $config['title']; ?></h2></div><?php }; ?>
		<div class="listing-type-grid category-products">
			<?php $_collectionSize = $listall?$listall->count():0; ?>
			
			<?php $i = 0;
				$width = 100;
				// -- added by Duchh 15/12/2009
				$thumbnailw = $config['width'];
				$thumbnailh = $config['height'];
				$numberchar = $config['max'];

				if ($config['perrow']) $width = 100/$config['perrow'];
				$width = "style=\"width:{$width}%;\"";    
        $return = false;              
				$baseconfig = Mage::getStoreConfig("wavethemes_jmbasetheme/jmbasethemedefault");  
			?>							
			<?php if($_collectionSize){?>
				<ul class="products-grid">
				<?php foreach ($listall->getItems() as $_product){ 
						$_rowCount = ceil($_collectionSize/$config['perrow']);
						if ($i%$config['perrow']==0) : $j++; endif;
						$i++;
						
        		$product = Mage::getModel('catalog/product')->load($_product->getId());
						$attribute = $product->getResource()->getAttribute('label');
							 if(is_object($attribute)){
							 
							    $_options= $attribute->getSource()->getAllOptions(true, true);
								foreach($_options as $option){
									  if ($option['value'] == $product->getData("label")){
										$class =  $option['label'];
									  }
								 }		   
								 $attdefaultvalue = $attribute->getDefaultValue();
								 $attributeValue = Mage::getModel('catalog/product')->load($_product->getId())->getlabel();
								 $attributeValueName = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('label');
									 if(strlen($attributeValue) &&  ($attdefaultvalue !== $attributeValue)) { 
										 $labeltype = $class;   
										 $labelname = $attributeValueName;     
										 } 
										 else {
										 $labeltype = "";
								 } 
							 }
				?> 
						<li class="item <?php if ($j==$_rowCount) : echo "item-row-last"; endif; ?> <?php if(($i-1)%$config['perrow']==0): ?> first<?php elseif($i%$config['perrow']==0): ?> last<?php endif; ?>" <?php echo $width;?>>
							<p class="product-image">
								<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
									<img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($thumbnailw, $thumbnailh)->setWatermarkSize('30x10'); ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
								</a>
								<?php if ($labeltype && $baseconfig["showlabel"]): ?>
										<span class="<?php echo $labeltype; ?>-label label"><?php echo $labelname;	?></span>		
									<?php endif; ?>
							</p>
							<div class="product-information">
								<h2 class="product-name">
									<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
									<?php 
									if (strlen($_product->getName()) > 30) :
										 			echo substr($_product->getName(),0, 24).'...';
										 		else : 
										 			echo $_product->getName();
										 		endif;
									?>
									</a>
								</h2>
								<?php echo $this->getPriceHtml($_product,true, '_jmproduct_' . rand()) ?>
								<?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
								<?php if($numberchar) : ?>
									<p class="pdescription"><?php echo substr(nl2br(strlen($_product->getDescription()) > 10 ? $_product->getDescription() : $_product->getShortDescription()), 0, $numberchar).'...';?></p>
								<?php endif; ?>
        				<div class="clearer"></div>
        				<?php if($_product->isSaleable()){ ?>
								<button class="button btn-cart flat" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
									<span><?php echo $this->helper("catalog")->__('Add to Cart') ?></span>
								</button>
								<?php } else { ?>
								<div class="out-of-stock"><?php echo $this->helper("catalog")->__('Out of stock') ?></div>
								<?php } ?>
								<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow()) : ?>
								<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
									<?php echo $this->__('Add to Wishlist') ?>
								</a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
								<li>
									<a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
								<?php endif; ?>
								</ul>
						 </div>
						 
					</li>
					<li class="separator <?php if ($j==$_rowCount) : echo "separator-last"; endif; ?> <?php if($i%2==0): echo 'visible-tablet'; endif; ?> <?php if($i%$config['perrow']!=0) : echo 'visible-phone'; else : echo 'visible-desktop'; endif; ?>">&nbsp;</li>
				<?php }?>		
				</ul>
				<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
			<?php }?>	
		</div>
</div>
<?php echo $this->getBlockHtml('sms_oftangesehen_content') ?>