<div class="category-products">
			<?php $_collectionSize = $listall?$listall->count():0 ?>
			<?php $i = 0;  ?>							
			<?php $_iterator = 0; ?>
			<?php if($_collectionSize){?>
				<ul class="products-list">
					<?php foreach ($listall->getItems() as $_product) {   ?> 
						<li class="item <?php if( ++$_iterator == sizeof($listall->getItems() ) ): ?> last<?php endif; ?>" >
								<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
								<?php 
									if (strlen($_product->getName()) > 24) :
										 			echo substr($_product->getName(),0, 18).'...';
										 		else : 
										 			echo $_product->getName();
										 		endif;
									?>
								</a>
						</li>	
				<?php }?>		
				</ul>
				<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
			<?php }?>	
</div>				
