<div class="jm-product-deals <?php echo $config['mode']; ?> clearfix block">	
		<?php if($config['title']){?><div class="page-title category-title"><h1><?php echo $config['title']; ?></h1></div><?php }; ?>
		<div class="listing-type-grid category-products">
			<?php $_products = $this->getProductCollection(); ?>
			
			<?php $i = 0;
				$width = 100;
				// -- added by Duchh 15/12/2009
				$thumbnailw = $config['width'];
				$thumbnailh = $config['height'];
				$numberchar = $config['max'];

				if ($config['perrow']) $width = 100/$config['perrow'];
				$width = "style=\"width:{$width}%;\"";    
        $return = false;                
			?>							
			<?php if (($_products = $this->getProductCollection()) && $_products->getSize()) {?>
				<ul class="products-grid">
				<?php foreach ($_products->getItems() as $_product){ 
						$_rowCount = ceil($_collectionSize/$config['perrow']);
						if ($i%$config['perrow']==0) : $j++; endif;
						$i++;
				?> 
						<li class="item <?php if ($j==$_rowCount) : echo "item-row-last"; endif; ?> <?php if(($i-1)%$config['perrow']==0): ?> first<?php elseif($i%$config['perrow']==0): ?> last<?php endif; ?>" <?php echo $width;?>>
					
							<div class="product-information">
								<h2 class="product-name">
									<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
									<?php 
												if (strlen($_product->getName()) > 30) :
										 			echo substr($_product->getName(),0, 24).'...';
										 		else : 
										 			echo $_product->getName();
										 		endif;
									?>
									</a>
								</h2>
								<?php echo $this->getPriceHtml($_product,true, '_jmproduct_' . rand()) ?>
								
								<?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
        				<div class="clearer"></div>
						 </div>
					</li>					
				<?php }?>		
				</ul>
				<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
			<?php }?>	
		</div>
</div>