{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <h1>Hallo {{htmlescape var=$order.getCustomerName()}},</h1>
                        <p>vielen Dank für Deine Bestellung bei {{var store.getFrontendName()}}.
                            Sobald Deine Sendung verschickt wurde, erhalten Sie per E-Mail weitere Informationen zur Sendungsverfolgung.
                            Du kannst den aktuellen Status Deiner Bestellung jederzeit in <a href="{{store url="customer/account/"}}">Deinem Benutzerkonto</a> einsehen.
                            Nachfolgend findest Du Deine Bestellbestätigung.</p>
                    </td>
                    <td class="store-info">
                        {{template config_path="design/email/support"}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="order-details">
            <h3>Deine Bestellung Nr. <span class="no-link">{{var order.increment_id}}</span></h3>
            <p>vom {{var order.getCreatedAtFormated('long')}}</p>
        </td>
    </tr>
    <tr class="order-information">
        <td>
            {{if order.getEmailCustomerNote()}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var order.getEmailCustomerNote()}}</td>
                </tr>
            </table>
            {{/if}}
            {{layout handle="sales_email_order_items" order=$order}}
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="address-details">
                        <h6>Rechnungsadresse:</h6>
                        <p><span class="no-link">{{var order.getBillingAddress().format('html')}}</span></p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h6>Lieferadresse:</h6>
                        <p><span class="no-link">{{var order.getShippingAddress().format('html')}}</span></p>
                    </td>
                    {{/depend}}
                </tr>
                <!-- START SHOPPARTNER BEREICH -->
                <tr>
                    <td class="address-details">
                        <h6>Dein Shoppartner:</h6>
                        <p>{{var order.getShoppartnerAddress('normal')}}</p>
                    </td>
                </tr>
                <!-- ENDE SHOPPARTNER BEREICH -->
                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h6>Versandart:</h6>
                        <p>{{var order.shipping_description}}</p>
                    </td>
                    {{/depend}}
                    <td class="method-info">
                        <h6>Zahlungsart:</h6>
                        {{var payment_html}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
<td>
<h3>Impressum</h3>
<p>Paaschburg &amp; Wunderlich GmbH</p>
<p>Am Alten Lokschuppen 10a<br /> <span>21509 Glinde<br /></span> Deutschland<br /><br /> <span>Telefon: 040-24 82 77-0</span> <br /><br /> <span>Fax: 040-24 82 77-79<br /><br /></span> E-Mail: verkauf@brands4bikes.de</p>
<p>Gesch&auml;ftsf&uuml;hrer:<br />Oliver Moosmayer</p>
<p>Handelsregister: Amtgericht Hamburg, HRB 46.289</p>
<p>Umsatzsteuer-Identifikationsnummer: DE 118679499</p>
<p>Online-Streitbeilegung gem&auml;&szlig; Art. 14 Abs. 1 ODR-VO: Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter <a title="Online-Streitbeilegung der Europ&amp;auml;ischen Kommission" href="ttp://ec.europa.eu/consumers/odr/" target="_blank">http://ec.europa.eu/consumers/odr/</a> finden.</p>
</td>
</tr>
</table>

{{template config_path="design/email/footer"}}