h2.jmzin-title, h4.jmzin-title {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	margin-bottom: 5px;
	text-transform: none;
	font-size: 125%;
}

/* CONTENT
--------------------------------------------- */
#jmzin-wrap {
	padding: 0;
	margin-left: 1px;
}

#jmzin {
	padding: 0;
}

.jm-cat-left {
	float: left;
	background: url(dot.gif) repeat-y right;
}

.jm-cat-center {
	float: left;
	background: url(dot.gif) repeat-y right;
}

.jm-cat-right {
	float: right;
}

.jmzin-box {
	margin: 0;
	padding: 0 15px;
}

.jm-cat-right .jmzin-box {
	margin-left: 0;
}

.jm-cat-right .jmzin-box {
	margin-right: 0;
}

div.jmzin-section {
	display: block;
	margin-bottom: 10px;
}

div.jmzin-section a, div.jmzin-section span {
	padding: 0 2px 2px 0;
	/*text-transform: uppercase;*/
	color: #aaa;
	font-size: 12px;
}

div.jmzin-section a:hover,
div.jmzin-section a:active,
div.jmzin-section a:focus {
	text-decoration: none;
	color: #aaa;
}

.jmzin-more {
	color: #aaa;
	/*text-transform: uppercase;*/
	display: block;
	clear: both;
	padding: 10px 0 2px;
	margin-top: 10px;
	background: url(dot-h.gif) repeat-x top;
}

ul.jmzin-links {
	padding: 15px 0 0;
	margin: 20px 0 0;
	border-top: 1px solid #e5e5e5;
}

ul.jmzin-links li { background-position: left 8px; }

ul.jmzin-links li a {
	color: #aaa;
	font-size: 11px;
}

ul.jmzin-links li a:hover,
ul.jmzin-links li a:focus,
ul.jmzin-links li a:active {
   color: #000; 
}

.jmzin-content img {
	margin: 0 0 0 10px;
	float: right;
	border: 1px solid #e5e5e5
}

a.readon {
  height: 15px;
  width: 15px;
  text-indent: -999em;
  background: url(btn_readmore.png) no-repeat left 0;
  display: block;
  overflow: hidden;
  color: #005500;
  transition: background-position 0.3s ease-out;
  -moz-transition: background-position 0.3s ease-out; /* Firefox 4 */
  -webkit-transition: background-position 0.3s ease-out; /* Safari and Chrome */
  -o-transition: background-position 0.3s ease-out; /* Opera */
}

a.readon:hover,
a.readon:focus,
a.readon:active,
.jmzin-content:hover a.readon {
  background-position: left  bottom;
  text-indent: 0;
  width: auto;
  line-height: 15px;
  font-size: 18px;
  padding-left: 20px;
  color:#04ff13;
}

.jmzin-content:hover a.readon:hover,
.jmzin-content:hover a.readon:focus,
.jmzin-content:hover a.readon:active {
  background-position: left -30px;
  color: #04ff13;
}

.jmzin-content:hover .product-name a {
  color: #04ff13;
}