.header .form-search .search-autocomplete ul.bubble-elasticsearch li.title,
.header .form-search .search-autocomplete ul.bubble-elasticsearch li.title a {
    padding: 6px;
    background-color: #f4f4f4;
    color: #636363;
    text-transform: uppercase;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch {
    background-color: #fff;
    border: 1px solid #d5e4eb;
    border-bottom: 0;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li {
    padding: 0;
    border-bottom: 1px solid #d5e4eb;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li .image {
    float: left;
    margin-right: 6px;
    background-color: #fff;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li a {
    display: block;
    padding: 6px;
    text-decoration: none;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li.selected a {
    text-decoration: none;
    background-color: #ecf3f6;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li .price-box {
    margin: 0;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li a .price-box .minimal-price-link {
    padding: 0;
}

.header .form-search .search-autocomplete ul.bubble-elasticsearch li .clearer {
    clear: both;
}

.elasticsearch-info {
    height: 80px;
    padding: 5px 0;
    border: 1px solid #fff;
}

.elasticsearch-info:hover {
    background: #f8f8f8;
    border: 1px solid #0c8ddf;
    box-shadow: 0 0 2px #0c8ddf;
}

.elasticsearch-autocomplete {
    border-top: 1px solid #ccc;
}


.elasticsearch-price {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Verdana,sans-serif;
    font-weight: bold;
    line-height: 1.2em;
    text-align: right;
}

.elasticsearch-image {
    /*border: 1px solid red;*/
    float: left;
    height: 63px;
    min-height: 63px;
    width: 22%;
}

.elasticsearch-name {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Verdana,sans-serif;
    height: 5em;
    line-height: 1.2em;
}

.quick-access p {
    float: right !important;
    font-weight: bold;
    margin: no !important;
}