/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2016 Benoît Leulliette <benoit.leulliette@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/* GLOBAL STYLES */

.blcg-clearer { clear:both; }
.blcg-tooltip { padding:4px 8px; background:#fff; border:1px solid #000; }
.blcg-no-display { display:none !important; }

.blcg-loading {
    width:100%;
    height:100%;
    background:url(images/loader.gif) no-repeat 50% 50%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.blcg-use-config-wrapper { margin-top:3px; }
.blcg-use-config-wrapper label { margin-left:3px; }
.blcg-form-note-text { line-height:14px; font-size:11px; }
.blcg-form-note-text ul { list-style:decimal inside none; }
.blcg-form-note-text li { margin:0; }
div.blcg-collapseable { margin-top:1px; }

div.blcg-collapseable a {
    display:block;
    font-weight:bold;
    background:url(images/collapse_arrow_down.png) 100% 50% no-repeat;
    color:#fff;
    text-decoration:none;
}

div.blcg-collapseable a:hover { color:#fff; text-decoration:none; }
div.blcg-collapseable a.open { background:url(images/collapse_arrow_up.png) 100% 50% no-repeat; }

/* MESSAGES LIST */

.blcg-messages-wrapper { position:fixed; right:0; bottom:0; width:100%; z-index:10; pointer-events:none; }
.blcg-messages-tabs { margin-right:16px; pointer-events:auto; }

.blcg-messages-tab {
    float:right;
    display:block;
    height:32px;
    line-height:34px;
    margin-left:8px;
    padding:0 10px 0 30px;
    font-weight:bold;
    background-repeat:no-repeat;
    background-position:6px center;
    border-style:solid;
    border-width:1px 1px 0;
    cursor:pointer;
}

.blcg-messages-lists { clear:both; pointer-events:auto; }
.blcg-messages-list-wrapper { max-height:200px; overflow-y:auto; border-width:1px 0 0; border-style:solid; }
.blcg-messages-list { padding:8px 12px; }
.blcg-messages-content-date { margin:0 0 4px; font-size:14px; font-weight:bold; }
.blcg-messages-tab-warning { background-color:#e6e6e6; border-color:#666e73; color:#000; }
.blcg-messages-tab-error,
.blcg-messages-list-wrapper-error { background-color:#faefe7; border-color:#f16048; color:#df280a; }
.blcg-messages-tab-success,
.blcg-messages-list-wrapper-success { background-color:#eff5ea; border-color:#95a486; color:#3d6611; }
.blcg-messages-tab-notice,
.blcg-messages-list-wrapper-notice { background-color:#fffbf0; border-color:#ffd967; color:#3d6611; }
.blcg-messages-tab-warning,
.blcg-messages-list-wrapper-warning { background-color:#e6e6e6; border-color:#666e73; color:#000; }
.blcg-messages-tab-error { background-image:url(../../images/error_msg_icon.gif); }
.blcg-messages-tab-success { background-image:url(../../images/success_msg_icon.gif); }
.blcg-messages-tab-notice { background-image:url(../../images/note_msg_icon.gif); }
.blcg-messages-tab-warning { background-image:url(../../images/warning_msg_icon.gif); }
.blcg-messages-list li { padding:8px 8px 2px !important; background:none !important; }
.blcg-messages-list ul li { margin:0 !important; }

/* CONTEXT MENU */

#blcg-context-menu { min-width:190px; background:#fff; border:1px solid #656565; }
#blcg-context-menu ul { margin:0; padding:0; list-style:none; cursor:pointer; }

#blcg-context-menu ul li {
    margin:0;
    padding:4px 12px 4px 8px;
    font-size:12px;
    color:#000;
    text-align:left;
    text-decoration:none;
    cursor:pointer;
}

#blcg-context-menu ul li:hover { background:#fcce77; cursor:pointer; }

#blcg-context-menu ul li.disabled,
#blcg-context-menu ul li:hover.disabled {
    font-size:13px;
    font-weight:bold;
    background:#656565;
    color:#fff;
    cursor:pointer;
}

/* PROFILES BAR */

.blcg-grid-profiles-bar { width:100%; height:28px; margin:0 0 12px; border-bottom:1px solid #ccc; display:table;}
.blcg-grid-profiles-bar > div {display:table-cell; }
.blcg-grid-profiles-bar-fixed-part { width:1px; }

.blcg-grid-profiles-list-options {
    padding-right:10px;
    border:0 solid;
    border-right-width:1px;
    border-right-color:#ccc;
    -webkit-border-image:-webkit-gradient(linear, 0 100%, 0 0, from(#ccc), to(transparent)) 1 100%;
    -webkit-border-image:-webkit-linear-gradient(bottom, #ccc, transparent) 1 100%;
    -moz-border-image:   -moz-linear-gradient(bottom, #ccc, transparent) 1 100%;
    -o-border-image:     -o-linear-gradient(bottom, #ccc, transparent) 1 100%;
    border-image:        linear-gradient(to top, #ccc, transparent) 1 100%;
    text-align:right;
}

.blcg-grid-profiles-bar-buttons { margin:0 0 0 12px; white-space:nowrap; }

.blcg-grid-profiles-bar-button {
    height:28px;
    margin:0;
    padding:2px 6px 2px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    background:none;
    border:none;
    color:#ddd;
}

.blcg-grid-profiles-bar-button-copy_new,
.blcg-grid-profiles-bar-button-previous { float:left; width:28px; margin-right:4px; }
.blcg-grid-profiles-bar-button-next { float:right; width:28px; margin-left:-12px; }
.blcg-grid-profiles-bar-button:hover { background:none; color:#555; }

.blcg-grid-profiles-bar-button:active {
    color:#555;
    background-image:-webkit-linear-gradient(top, #ebebeb, #fff);
    background-image:-o-linear-gradient(top, #ebebeb, #fff);
    background-image:linear-gradient(to bottom, #ebebeb, #fff);
}

.blcg-grid-profiles-bar-button.blcg-disabled:hover,
.blcg-grid-profiles-bar-button.blcg-disabled:active { color:#ddd; background:none; }

.blcg-grid-profiles-bar-button > span:before {
    display:inline-block;
    line-height:14px;
    font-family:FontAwesome;
    font-size:14px;
    vertical-align:middle;
}

.blcg-grid-profiles-bar-button > span > span {display:none !important;}
.blcg-grid-profiles-bar-button-previous > span:before { content:"\f137"; }
.blcg-grid-profiles-bar-button-next > span:before { content:"\f138"; }
.blcg-grid-profiles-bar-button-previous.blcg-disabled > span:before,
.blcg-grid-profiles-bar-button-next.blcg-disabled > span:before { content:"\f111"; }
.blcg-grid-profiles-bar-button-columns-list > span:before { content:"\f0db"; }
.blcg-grid-profiles-bar-button-default-params > span:before { content:"\f1de"; }
.blcg-grid-profiles-bar-button-custom-columns > span:before { content:"\f1b3"; }
.blcg-grid-profiles-bar-button-export > span:before { content:"\f1c3"; }
.blcg-grid-profiles-bar-button-grid-infos > span:before { content:"\f129"; }
.blcg-grid-profiles-bar-button-edit-link > span:before { content:"\f08e"; }
.blcg-grid-profiles-bar-button-rss > span:before { content:"\f09e"; }
.blcg-grid-profiles-bar-button-copy_new > span:before { content:"\f067"; }
.blcg-grid-profiles-bar-button-default > span:before { content:"\f08d";}
.blcg-grid-profiles-bar-button-copy_existing > span:before { content:"\f0c5"; }
.blcg-grid-profiles-bar-button-edit > span:before { content:"\f040"; }
.blcg-grid-profiles-bar-button-assign > span:before { content:"\f023"; }
.blcg-grid-profiles-bar-button-delete > span:before { content:"\f1f8"; }

.blcg-grid-profiles-list-wrapper { width:100%; }
.blcg-grid-profiles-list-constrainer { position:relative; height:18px; margin-right:28px; }
.blcg-grid-profiles-list-sub-wrapper { position:absolute; left:0; top:0; width:100%; height:29px; overflow:hidden; }
.blcg-grid-profiles-list { overflow:hidden; }

.blcg-grid-profiles-list li {
    display:inline-block;
    width:12.4%;
    max-width:150px;
    height:28px;
    line-height:28px;
    margin:0 !important;
}

.blcg-grid-profiles-list.blcg-grid-profiles-list-full li { max-width:none; }

.blcg-grid-profiles-list li div {
    height:28px;
    padding-right:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.blcg-grid-profiles-list li span {
    display:block;
    height:27px;
    line-height:28px;
    padding:0 10px;
    overflow:hidden;
    background:#e2e2e2;
    border:1px solid #ccc;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor:pointer;
}

.blcg-grid-profiles-list li.blcg-base span { font-style:italic; }
.blcg-grid-profiles-list li.blcg-current span { background:#fff; border-bottom-color:#fff; }

.blcg-grid-profiles-list-count-1 li { width:100%; }
.blcg-grid-profiles-list-count-2 li { width:50%; }
.blcg-grid-profiles-list-count-3 li { width:33.33%; }
.blcg-grid-profiles-list-count-4 li { width:25%; }
.blcg-grid-profiles-list-count-5 li { width:20%; }
.blcg-grid-profiles-list-count-6 li { width:16.66%; }
.blcg-grid-profiles-list-count-7 li { width:14.28%; }
.blcg-grid-profiles-list-count-7 li { width:14.28%; }
.blcg-grid-profiles-list-count-8 li { width:12.4%; }
.blcg-grid-profiles-list-count-9 li { width:11.11%; }
.blcg-grid-profiles-list-count-10 li { width:10%; }

/* PINNABLE GRID HEADER */

.blcg-grid-pinned-actions-block { z-index:1; background:#fff; }
.blcg-grid-pinned-actions-block .actions td { padding:0 6px; }
.blcg-grid-pinned-actions-block table.massaction td:first-child { white-space:nowrap; }

/* IN-GRID / EDIT BLOCK HEADER */

.blcg-content-header {
    margin-bottom:18px;
    padding-top:9px;
    padding-bottom:.25em;
    font-family:Arial,Helvetica,sans-serif;
    border-bottom:4px solid #dfdfdf;
}

.blcg-content-header h3 { line-height:1.2em; margin:.3em .5em 0 0; padding:0; font-size:1.25em; color:#eb5e00; }

/* COLUMNS LIST */

.blcg-custom-grid-config { margin:0 0 6px; }
.blcg-custom-grid-config .massaction { border-top:0; }
.blcg-custom-grid-config .grid table tr:hover,
.blcg-custom-grid-config .grid table tr.blcg-dnd-whileDrag { background-color:#fcf5dd; } 
.blcg-custom-grid-config .grid table td { vertical-align:middle; }

.blcg-custom-grid-config .grid table .blcg-drag-handle {
    padding:0 9px;
    background:url(images/up-down.gif) no-repeat center center;
    cursor:move;
}

.blcg-custom-grid-config .grid table .blcg-store-select { margin:0; }

/* RSS LINKS */

.blcg-rss-links-list { margin:12px 0 0; list-style:inside square none; }
.blcg-rss-links-list li { margin:6px 0; }

/* CONFIG / HELP BUTTONS */

.blcg-attribute-config-button { color:#ea7601; text-decoration:underline; cursor:pointer; }

.blcg-collection-renderers-config-button,
.blcg-custom-column-config-button,
.grid tr.filter .blcg-categories-filter .blcg-filter-button {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    cursor:pointer;
    zoom:1;
}

.blcg-collection-renderers-config-button,
.blcg-custom-column-config-button,
.grid tr.filter .blcg-categories-filter .blcg-filter-button {
    background:url(images/ico_config.png) no-repeat center center;
}

/* ADDITIONAL FILTERS */

.blcg-additional-filters-table .filter th { width:150px; }

/* IN-GRID EDITOR */

.grid table td.blcg-column-editor-editing { padding-right:38px; }
.grid table td.blcg-column-editor-updated { background:#ebffd4 !important; }

.grid table td.blcg-column-editor-editing p.note {
    margin:0;
    padding:0 0 0 13px;
    font-size:11px;
    background:url(images/grid_note_bg.gif) 1px 6px no-repeat;
}

.grid td.blcg-column-editor-editing input.input-text,
.grid td.blcg-column-editor-editing select { width:90%; max-width:270px; min-width:110px; }
.grid td.blcg-column-editor-editing select.multiselect { min-width:150px; }
.blcg-column-editor-form { clear:both; }
.blcg-column-editor-form-buttons { float:right; }
.blcg-column-editor-overlay { height:16px; }

.blcg-column-editor-overlay-edit,
.blcg-column-editor-overlay-validate,
.blcg-column-editor-overlay-cancel,
.blcg-column-editor-overlay-updated {
    float:left;
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
    
}
.blcg-column-editor-overlay-edit { background-image:url(images/edit.png); }
.blcg-column-editor-overlay-validate { background-image:url(images/validate.gif); }
.blcg-column-editor-overlay-cancel { background-image:url(images/cancel.gif); }
.blcg-editor-required-marker { color:#f00; }
.entry-edit-head .blcg-editor-required-marker { padding:0 3px 0 2px; font-style:italic; color:#f34; }
.blcg-column-editor-editing .blcg-editor-required-marker { display:none; }
.grid table td.blcg-column-editor-editing-required { background:#ffdcdc !important; }
.blcg-editor-scope-label { font-size:0.9em; }
.adminhtml-blcg-grid-editor-edit { background:#fff; }
.adminhtml-blcg-grid-editor-edit .middle { min-height:0; background:none; }

/* COLUMNS RENDERERS */

.blcg-collection-renderers-descriptions-list { height:370px; max-height:370px; overflow-y:auto; }
.blcg-collection-renderers-descriptions-list dt { font-weight:bold; }
.blcg-collection-renderers-descriptions-list dd { margin:0 0 6px; padding-left:10px; }
.blcg-collection-renderer-help,
.blcg-attribute-renderer-help { margin:0 0 12px; font-style:italic; }

/* CUSTOM COLUMNS FILTERS */

.grid tr.filter .blcg-categories-filter { position:relative; padding-right:18px; }
.grid tr.filter .blcg-categories-filter .blcg-filter-button { position:absolute; top:0; right:0; }
.grid tr.filter .blcg-filter-value { font-weight:normal; }
.blcg-filter-form-buttons { float:right; }
.customgrid-custom-grid-column-filter-categories { background:#fff; }
.customgrid-custom-grid-column-filter-categories .middle { min-height:0; background:none; }
.customgrid-custom-grid-column-filter-categories .wrapper-popup { min-width:680px; }
.customgrid-custom-grid-column-filter-categories .entry-edit { clear:both; }
.customgrid-custom-grid-column-filter-categories .entry-edit .entry-edit-head { background:#666; }

/* WINDOW STYLES */

.dialog.blcg-popup-window { border:0; }
.blcg-popup-window .top.table_window { background:none; border:none; }
.dialog.blcg-popup-window .bot { display:table !important; }

.overlay___invisible__ { background-color:#666; filter:alpha(opacity=0); opacity:0; }
.overlay_blcg { background-color:#000; filter:alpha(opacity=60); opacity:0.6; }

.blcg_wired_frame {
    position:absolute;
    display:block;
    background:#fff;
    border:1px #000 dashed;
    filter:alpha(opacity=60);
    opacity:0.6;
}

.blcg_nw { width:9px; height:28px; background:transparent url(window/top-left.png) no-repeat 0 0; }
.blcg_n { height:28px; background:transparent url(window/top-middle.png) repeat-x 0 0; }
.blcg_ne { width:15px; height:28px; background:transparent url(window/top-right.png) no-repeat 0 0; }
.blcg_w { width:9px; background:transparent url(window/left.png) repeat-y top left; }
.blcg_e { width:15px; background:transparent url(window/right.png) repeat-y top right; }
.blcg_sw { width:9px; height:15px; background:transparent url(window/bottom-left.png) no-repeat 0 0; }
.blcg_s { height:15px; background:transparent url(window/bottom-middle.png) repeat-x 0 0; }
.blcg_se,
.blcg_sizer { width:15px; height:15px; background:transparent url(window/bottom-right-fixed.png) no-repeat 0 0; }
.blcg-resizable-popup-window .blcg_sizer { background-image:url(window/bottom-right.png); cursor:se-resize; }

.blcg_close,
.blcg_maximize,
.blcg_minimize {
    position:absolute;
    top:11px;
    width:15px;
    height:9px;
    z-index:1000;
    background-repeat:no-repeat;
    background-position:0 0;
    cursor:pointer;
}

.blcg_close { right:10px; background-image:url(window/button-close.png); }
.blcg_maximize { right:25px; background-image:url(window/button-maximize.png); }
.blcg_minimize { right:40px; background-image:url(window/button-minimize.png); }

.blcg_title {
    float:left;
    width:100%;
    height:24px;
    line-height:28px;
    margin-top:2px;
    font-family:Verdana, Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    text-align:left;
}

.blcg_content { overflow:auto; font-size:12px; background:#fff; }
.blcg_content,
.blcg_content label { font-family:Arial, sans-serif; color:#333; }

.blcg-popup-window .blcg_message { padding:0 18px; }
.blcg-popup-window .content-header,
.blcg-column-editor-form .content-header { border-bottom-width:3px; }
.blcg-popup-window .entry-edit .entry-edit-head,
.blcg-column-editor-form .entry-edit .entry-edit-head { background:#666; }
.blcg-popup-window .entry-edit fieldset,
.entry-edit fieldset.blcg-editor-fieldset,
.blcg-popup-window .entry-edit .fieldset,
.entry-edit .fieldset.blcg-editor-fieldset { border-top:0; border-color:#666; }
.blcg-popup-window .blcg_message .messages { margin:12px 0 0; }

/* SPECIFIC STYLES */

#sales_order_grid .grid .order-tables tr.headings,
#sales_invoice_grid .grid .order-tables tr.headings,
#sales_shipment_grid .grid .order-tables tr.headings,

#sales_creditmemo_grid .grid .order-tables tr.headings {
    background:url(../../images/sort_row_bg.gif) repeat-x scroll 0 50% transparent !important;
}


#customgrid_global.config .note { width:100%; min-width:268px; }
#customgrid_rewriters_file.config .comment span { font-family:Courier New,Courier,Arial,Helvetica,sans-serif; }