<?php
/**
 * @category    Bubble
 * @package     Bubble_Elasticsearch
 * @version     4.1.2
 * @copyright   Copyright (c) 2016 BubbleShop (https://www.bubbleshop.net)
 */
/**
 * @var $this Bubble_Elasticsearch_Block_Catalogsearch_Autocomplete_Product
 */
$_product = $this->getEntity();
$_imgSize = $this->getImageSize();
?>
<?php if ($_product): ?>
<li class="elasticsearch-autocomplete">
    <a href="<?php echo $this->escapeUrl($this->getProductUrl($_product)); ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
        <div class="elasticsearch-info">
            <?php if ($_src = $this->getImageSrc()): ?>
                <div class="elasticsearch-image" style="min-height: <?php echo $_imgSize ?>px; min-width: <?php echo $_imgSize ?>px;">
                    <img src="<?php echo $_src; ?>" width="<?php echo $_imgSize ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" />
                </div>
            <?php endif ?>
            <div class="elasticsearch-name"><?php echo $this->escapeHtml($_product->getName()) ?></div>
            <div class="elasticsearch-price"><?php echo $this->getPriceHtml($_product) ?></div>
        </div>
        <div class="clearer"><!-- --></div>
    </a>
</li>
<?php endif ?>