<?php
/**  Autor: Wolf Schmidt, 10.09.2015.2015
 *  Schmidt Medienservice
 */
?>
<?php
echo $this->getBlockHtml('formkey');
$_helper = $this->helper('catalog/output');
$baseconfig = Mage::getStoreConfig("wavethemes_jmbasetheme/jmbasethemedefault");
if ($baseconfig) :
    $productlistimagewidth = $baseconfig["productlistimagewidth"];
    $productlistimageheight = $baseconfig["productlistimageheight"];
    $productgriddeslenght = $baseconfig["productgriddeslenght"];
    $productgridimageheight = $baseconfig["productgridimageheight"];
    $productgridimagewidth = $baseconfig["productgridimagewidth"];
    $showlabel = $baseconfig["showlabel"];
else :
    $productlistimagewidth = 180;
    $productlistimageheight = 180;
    $productgriddeslenght = 0;
    $productgridimageheight = 180;
    $productgridimagewidth = 180;
    $showlabel = 0;
endif;
?>
<div class="std">
    <div class="block">
        <div class="page-title">
            <h3>Beliebte Produkte</h3>
        </div>
        <?php if (($_products = Mage::helper('sms_oftangesehen')->getProductCollection()) && $_products->getSize()): ?>

            <div class="category-products">
                <?php $_collectionSize = 3; ?>
                <?php $_columnCount = $this->getColumnCount(); ?>
                <ul class="products-grid">
                    <?php $u = 0; ?>
                    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                        <?php if ($u==0) {$list = "first";} ?>
                        <?php if ($u==1) {$list = "";} ?>
                        <?php if ($u==2) {$list = "last";} ?>
                        <?php $u++; ?>

                        <li class="item <?php echo $list; ?>" width="33,33333333%">
                            <p class="product-image">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($productgridimagewidth,$productgridimageheight); ?>" width="<?php echo $productgridimagewidth; ?>" height="<?php echo $productgridimageheight; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                <?php
                                $product = Mage::getModel('catalog/product')->load($_product->getId());
                                $attribute = $product->getResource()->getAttribute('label');
                                //                        echo "Artikelgruppe ist: " . $product["sms_artikelgruppe"];
                                if(is_object($attribute)){

                                    $_options= $attribute->getSource()->getAllOptions(true, true);
                                    foreach($_options as $option){
                                        if ($option['value'] == $product->getData("label")){
                                            $class =  $option['label'];
                                        }
                                    }

                                    $attdefaultvalue = $attribute->getDefaultValue();
                                    $attributeValue = Mage::getModel('catalog/product')->load($_product->getId())->getlabel();
                                    $attributeValueName = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('label');
                                    if(strlen($attributeValue) &&  ($attdefaultvalue !== $attributeValue)) {
                                        $labeltype = $class;
                                        $labelname = $attributeValueName;
                                    }
                                    else {
                                        $labeltype = "";
                                        $labelname = "";
                                    }
                                }

                                if ($labeltype && $showlabel): ?>
                                    <span class="<?php echo $labeltype; ?>-label label"><?php echo $labelname;  ?></span>
                                <?php endif; ?>
                            </p>
                                    <div class="product-information">
                                        <h2 class="product-name">
                                            <a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
                                                <?php
                                                if (strlen($_product->getName()) > 30) :
                                                    echo substr($_product->getName(),0, 24).'...';
                                                else :
                                                    echo $_product->getName();
                                                endif;
                                                ?>
                                            </a>
                                        </h2>
                                        <?php $_productdetails = Mage::getModel('catalog/product')->loadByAttribute('sku',$product['sku']); ?>
                                        <?php $_brutto = $_productdetails->getFinalPrice() * 1; ?>
                                        <?php $_formattedPrice = Mage::helper('core')->currency($_brutto, true, false); ?>
                                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">
                                    <?php echo $_formattedPrice; ?>
                                    <span class="mwstzeile"><br /><?php echo PREIS_UNTERZEILE; ?></span>
                                    <span class="mwstzeile" data-ot="<?php echo $this->__('<p>Bei einem Warenwert unter 50 Euro berechnen wir innerhalb Deutschlands 3,90 € Versandkosten. Für Versand nach Belgien, Dänemark, Niederlande und Österreich berechen wir 4,90 €. Ab einem Warenwert von 50 Euro versenden wir versandkostenfrei.</p>'); ?>" data-ot-delay="0" data-ot-style="glass"><a href="<?php echo $this->escapeUrl($this->getBaseUrl())."Versandbedingungen"; ?>"><?php echo $this->__('Versandkosten'); ?></a>)</span>
                                </span>
                            </span>
                                        </div>
                                        <?php
                                        $storeId = Mage::app()->getStore()->getId();
                                        $summaryData = Mage::getModel('review/review_summary')
                                            ->setStoreId($storeId)
                                            ->load($_product->getId());
                                        ?>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>
                                                </div>
                                            </div>
                                        <?php if($productgriddeslenght) : ?>
                                            <p class="pdescription"><?php echo substr(nl2br(strlen(strip_tags($_product->getDescription())) > 10 ? strip_tags($_product->getDescription()) : strip_tags($_product->getShortDescription())), 0, $productgriddeslenght).'...';?></p>
                                        <?php endif; ?>
                                        <div class="clearer"></div>

                                        <?php  if($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->helper('checkout/cart')->getAddUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                            <?php endif; ?>
                                            <?php if($_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
                                            <?php endif; ?>
                                        </ul>
                                        <?php endif; ?>

                                        <?php if(!$_product->isSaleable()): ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>

                                            <ul class="add-to-links">
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                                <?php endif; ?>
                                                <?php if($_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
                                                <?php endif; ?>
                                            </ul>
                                        <?php endif; ?>

                                    </div>

                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
        <?php endif; ?>
    </div>
</div>