body { color: black; font: 11pt/12pt arial, helvetica; text-align: left; }

p { color: black; font-size: 11pt; font-family: arial, helvetica; line-height: 12pt; }

td { font-size: 9pt; font-family: arial, helvetica; line-height: 10pt; }

a:link { color: white; font-size: 11pt; font-family: arial, helvetica; font-weight: bold; line-height: 12pt; text-decoration: none;}

a:visited { color: silver; font-size: 11pt; font-family: arial, helvetica; font-weight: bold; line-height: 12pt; }

a:hover { color: white; font-size: 11pt; font-family: arial, helvetica; line-height: 12pt; }

a:active { color: red; font-size: 11pt; font-family: arial, helvetica; line-height: 12pt; }

H1 {color: "#BAB8B8"; font-size: 14pt; font: arial black; line-heigth: 15pt;}

H2 {color: white; font-size: 24px; font-family: arial, helvetica; line-height: 10px; font-weight: bold;}

H3 {color: navy; font-size: 12pt; font-family: arial, helvetica; line-height: 15pt; font-weight: bold; text-align: justify;}

small {color: "#BAB8B8"; font-size: 8pt; font-family: arial, helvetica; line-height: 9pt;}

gross {color: navy; font-size: 11pt; font-family: arial black; line-height: 12pt; font-weight: bold;}

label { color: gray; font-size: 8pt; font-family: verdana; font-weight: bold; font-style: italic; line-height: 9pt; text-align: left; }