.jm-megamenu { margin: 0; padding: 0; }
.jm-megamenu a.over, .jm-megamenu a.active {}

ul.megamenu { margin: 10px; /* menu's gutter */ } 

ul.megamenu li { overflow: visible; }

/* lv - 0
-----------------------------------*/
/* Styling ---*/
.jm-megamenu ul.level0 {
	margin: 0;
	padding: 0;
}

.jm-megamenu ul.level0 li.mega {
	background: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border-right:1px solid #e5e5e5;
}

.jm-megamenu ul.level0 li.mega a.mega {
  text-decoration: none;
  padding: 0 15px;
  color: #333;
  font-weight: bold;
  font-size: 92%;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  display: block;
  font-family:NovecentowideNormal, sans-serif;
}

.jm-megamenu ul.level0 li.mega a.mega:hover,
.jm-megamenu ul.level0 li.mega:hover > a.mega {
    background-color: #0e8ddf;
}

.jm-megamenu ul.level0 li.mega .has-image {
	padding-left: 25px;
	display: block;
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}

.jm-megamenu ul.level0 li.mega span.menu-title { display: block; }

.jm-megamenu ul.level0 li.mega span.menu-desc {
	display: block;
	font-weight: normal;
	font-size: 92%;
}

.jm-megamenu ul.level0 li.mega a img {
	float: left;
	padding-right: 5px;
}

.jm-megamenu ul.level0 li.over, ul.level0 li.haschild-over {}

.jm-megamenu ul.level0 li.haschild a.mega span.menu-title,
.jm-megamenu ul.level0 li.haschild-over a.mega span.menu-title {}

.jm-megamenu ul.level0 li.haschild a.mega span.menu-desc,
.jm-megamenu ul.level0 li.haschild-over a.mega span.menu-desc {}

.jm-megamenu ul.level0 li.active {
	background: #005500;
	border-right:1px solid #005500;
	}
.jm-megamenu ul.level0 li:hover,
.jm-megamenu ul.level0 li.active:hover {
	background: #005500;
	border-right:1px solid #0e8ddf;
	}

.jm-megamenu ul.level0 li.active > a.mega,
.jm-megamenu ul.level0 li:hover > a.mega { color:#fff; }

/* lv - 1 and below
-----------------------------------*/
/* Layout ---*/
.jm-megamenu li.mega .childcontent { display: block; height: auto; position: absolute; }

.jm-megamenu li.mega .childcontent,
.jm-megamenu li.haschild-over li.mega .childcontent,
.jm-megamenu li.mega li.haschild-over li.mega .childcontent ,
.jm-megamenu li.mega li.mega li.haschild-over li.mega .childcontent, 
.jm-megamenu li.mega li.mega li.mega li.haschild-over li.mega .childcontent, 
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .childcontent { left: -999em; /*hide the menu*/ }

.jm-megamenu li.haschild-over .childcontent,
.jm-megamenu li.haschild:hover > .childcontent,
.jm-megamenu li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent { left: auto; /*show on parent:hover*/ }

.jm-megamenu li.mega .right,
.jm-megamenu li.haschild-over li.mega .right,
.jm-megamenu li.mega li.haschild-over li.mega .right ,
.jm-megamenu li.mega li.mega li.haschild-over li.mega .right, 
.jm-megamenu li.mega li.mega li.mega li.haschild-over li.mega .right, 
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .right { right: auto; /*hide the menu*/ }

.jm-megamenu li.haschild-over .right
{ right: 0; /*show on parent:hover*/ }
.jm-megamenu li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .right 
{ right: 12em; /*show on parent:hover*/ }

.jm-megamenu ul.level1 li.haschild:hover > .childcontent { left: 150px; }

.jm-megamenu ul.level1 li.mega { float: none; }

.jm-megamenu ul.level1 .childcontent { margin: -2em 0 0 0; }

 /* Columns ---*/
.jm-megamenu .megacol { float: left;}

/* Styling ---*/
.jm-megamenu ul.level1 li.mega {}

.jm-megamenu ul.level1 li.first {}

.jm-megamenu ul.level1 li.mega a.mega {
  background: none;
  border: 0;
  padding: 5px 6px;
  line-height: 1.5;
  height: auto;
  text-transform: none;
}

.jm-megamenu .megamenu.level1 li.mega { border-right:none; }
.jm-megamenu ul.level1 li.mega a.mega span.menu-title { background: none; padding: 0; color:#0e8ddf; }

.jm-megamenu ul.level1 li.mega a.mega:hover span.menu-title,
.jm-megamenu ul.level1 li.mega a.mega:focus span.menu-title,
.jm-megamenu ul.level1 li.mega a.mega:active span.menu-title { color: #fff; }

.jm-megamenu .megamenu.level1 li.mega.active,
.jm-megamenu .megamenu.level1 li.mega.active span.menu-title { background:none; color:#fff; }

.jm-megamenu .megamenu.level2 li.mega { border-left:1px solid #2e2e2e; border-right:none; padding-left:18px; margin-left:-24px;}
.jm-megamenu .megamenu.level2 li.mega a.mega { color:#fff; text-transform:none !important; font: normal 100% Arial, Helvetica, sans-serif}
.jm-megamenu .megamenu.level2 li.mega a.mega span.menu-title { color:#fff; }
.jm-megamenu .megamenu.level2 li.mega a.mega:hover span.menu-title { color:#0e8ddf; }

.jm-megamenu ul.level1 li.haschild > a.mega > span.menu-title,
.jm-megamenu ul.level1 li.haschild-over > a.mega > span.menu-title,
.jm-megamenu ul.level2 li.haschild > a.mega > span.menu-title,
.jm-megamenu ul.level2 li.haschild-over > a.mega > span.menu-title  {
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 95% center;
	padding: 0;
}

.jm-megamenu ul.level1 li.over, ul.level1 li.haschild-over {}

.jm-megamenu ul.level1 li.group { background: none; }

.jm-megamenu .block-viewed .block-title { display:none; }

.jm-megamenu .block-viewed .block-content { background:#fff; height:110px; overflow:hidden; }
.jm-megamenu .block-viewed .block-content li { float:left; width:46%; border-right:1px solid #e5e5e5; border-left:none; border-bottom:none; border-top:none; padding:10px 5px; margin:0; height:90px; }
.jm-megamenu .block-viewed .block-content li.last { border-right:none; }
.jm-megamenu .block-viewed .block-content li:hover { background:none; border-right:1px solid #e5e5e5 }

.jm-megamenu .jm-product-deals.grid.block { background: #ff620b; padding: 0; }
.jm-megamenu .jm-product-deals .category-products { margin:0; padding:0; }
.jm-megamenu .jm-product-deals .product-information { background:none; padding: 0 15px; margin-left:3px;}
.jm-megamenu .jm-product-deals .product-information .product-name { padding-bottom:0; font: bold 12px/18px sans-serif}
.jm-megamenu .jm-product-deals li { margin:0; padding:0; width:100%; border-right:none; height:95px; background:none; overflow:hidden; }

.jm-megamenu .megacol.column4.last .jm-product-deals li:hover { background:none; border-right:none;  }

.jm-megamenu .megacol.column1.first .jm-product-deals ul { margin:0; padding:0; display:block }
.jm-megamenu .megacol.column1.first .jm-product-deals li { margin:0; height:90px; width:49% !important; border-right:1px solid #FF9156 }
.jm-megamenu .megacol.column1.first .jm-product-deals li:hover { background:none; }
.jm-megamenu .megacol.column1.first .jm-product-deals li.last { border-right: none; }

.jm-megamenu .category-title, 
.jm-megamenu .jm-product-deals .product-image,
.jm-megamenu .jm-product-deals button,
.jm-megamenu .jm-product-deals .add-to-links { display:none; }

.jm-megamenu .jm-product-deals li { padding-top:10px; }

.jm-megamenu .jm-product-deals .products-grid li.item h2.product-name a { color: #fff; font-size: 12px !important; }
.jm-megamenu .jm-product-deals .products-grid li.item h2.product-name a:hover { color:#333; font-size:12px;}

.jm-megamenu .jm-product-deals .price-box{ margin:5px 0; border-bottom:none; padding-bottom:5px;   }

.jm-megamenu .jm-product-deals .price-box .old-price .price { color:#d1d1d1; font-size:11px; }
.jm-megamenu .jm-product-deals .price-box .special-price { margin:0; }
.jm-megamenu .jm-product-deals .price-box .special-price .price { color:#fff; font-size:11px; }

.jm-megamenu .jm-product-deals .ratings .rating-links { display:none; }

.jm-megamenu .childcontent.cols1 .level1 li.mega a.mega { font-family: sans-serif; font-size:100%; }

 /* CHILD CONTENT
-----------------------------------*/
.jm-megamenu .childcontent {
	z-index: 9999;
}

.jm-megamenu .childcontent-inner {
	background: #000;
	box-shadow: 0 5px 3px 0 rgba(0,0,0,.1);
	overflow:hidden;
}

.jm-megamenu .level1 .childcontent-inner,
.jm-megamenu .level2 .childcontent-inner {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.jm-megamenu .childcontent .block {
	line-height: 1.5;
	margin: 10px 0;
	padding: 0;
}

.jm-megamenu .childcontent .block h3 {
	background: none;
	margin-left: 10px;
	margin-right: 10px;
	text-indent: 5px;
	text-transform: none;
}

.jm-megamenu .childcontent .block .ja-box-ct {
	padding: 0 5px;
}

.jm-megamenu .childcontent .block a {
	text-decoration: none;
}

.jm-megamenu .childcontent .block a:hover,
.jm-megamenu .childcontent .block a:focus,
.jm-megamenu .childcontent .block a:active {
	text-decoration: none;
}

.jm-megamenu .childcontent .block ul:first-child {
	margin-top: 0 !important;
}

.jm-megamenu .childcontent .block li {
	margin-bottom: 5px;
}

/* Grouped --- */
.jm-megamenu .group {}

.jm-megamenu .group-title { overflow: hidden; }

.jm-megamenu ul.level1 li.mega div.group-title a.mega {
  color: #333;
  font-weight: bold;
  padding: 10px 10px 0;
  }

.jm-megamenu .group-title .menu-desc {
	padding-left: 0 !important;
}

.jm-megamenu .group-content .block,
.jm-megamenu .group-content ul.megamenu  {
	margin: 10px 10px 20px 10px; /* Group-content's gutter*/
}

/* override --- */
.jm-megamenu .childcontent ul.megamenu .block {
	padding: 0;
}

.jm-megamenu .childcontent ul.megamenu .block.block-viewed { width:470px;}

.jm-megamenu .childcontent ul.megamenu .block h3 {
	margin-left: 0;
	margin-right: 0;
}

.jm-megamenu .category-products { margin: 10px}
.jm-megamenu .category-products ul.products-list { margin:0!important; padding:0; width:490px; display:block }

.jm-megamenu .category-products .products-list li.item, 
.jm-megamenu .category-products .products-list li.item:hover { float:left; width:45%; border-bottom:none; clear:none; margin:0 20px 0 0; border-right:1px solid #2e2e2e;overflow:hidden; padding:6px 0}

.jm-megamenu .category-products .products-list li.item a { color:#fff; float:left; padding-right:20px; } 
.jm-megamenu .category-products .products-list li.item a:hover { color:#0e8ddf; }

.jm-megamenu .products-grid div.item .item-inner { margin: 10px 10px 0; width: auto; min-height: 0; }

.jm-megamenu .products-grid div.item { width: 180px; }

.jm-megamenu .group .group-content .block img { padding: 0; float: none; }

.jm-megamenu #recently-viewed-items {}
.jm-megamenu #recently-viewed-items li { padding-right:10px;}
.jm-megamenu #recently-viewed-items li.even { border-right:none; padding-right:0;  }
.jm-megamenu #recently-viewed-items .deskipsion-text { float:right; width:60%; }
.jm-megamenu #recently-viewed-items .ratings p.rating-links { display:none; }

.jm-megamenu #recently-viewed-items .price-box .old-price .price,
.jm-megamenu #recently-viewed-items .price-box .special-price .price,
.jm-megamenu #recently-viewed-items .price-box .regular-price .price { font-size:11px; }
.jm-megamenu #recently-viewed-items .price-box .special-price { margin:0; }

/* Clearfix
-------------------------------------------------------------*/
* html .clearfix {
	height: 1%; /* IE5-6 */
}

.clearfix {
	display: inline-block; /* IE7xhtml*/
}

html[xmlns] .clearfix { /* O */
	display: block;  
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearer { display: block; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; }

.megamenu-my-bike {
    background: url("../../../images/icons/my-bike.png") 8px center no-repeat;
    text-indent: 32px !important;
}

.megamenu-my-bike:hover {
    background: url("../../../images/icons/my-bike-hover.png") 8px center no-repeat;
    text-indent: 32px !important;
}

.megamenu-my-wishlist {
    background: url("../../../images/icons/my-wishlist.png") 8px center no-repeat;
    text-indent: 32px !important;
}

.megamenu-my-wishlist:hover {
    background: url("../../../images/icons/my-wishlist-hover.png") 8px center no-repeat;
    text-indent: 32px !important;
}

.megamenu-my-account{
    background: url("../../../images/icons/my-account.png") 8px center no-repeat;
    text-indent: 32px !important;
}

.megamenu-my-account:hover {
    background: url("../../../images/icons/my-account-hover.png") 8px center no-repeat;
    text-indent: 32px !important;
}