<?php
/**
 * Stendel_Shoppartner
 *
 * @category  Mage
 * @package   Stendel_Shoppartner
 * @copyright Copyright (c) 2015 Stefan Stendel
 */
?>
<?php $_helper = Mage::helper('stendel_shoppartner'); ?>
<?php $shoppartner = $_helper->getCustomersShoppartnerByAddress($_helper->getCustomersDefaultBillingAdress()); ?>

<?php if($this->helper('customer')->isLoggedIn()): ?>
    <?php if($shoppartner): ?>
        <span class="tooltip underline info right" data-ot="<?php echo $this->__('<h4>What means Shoppartner?</h4><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>'); ?>" data-ot-delay="0" data-ot-style="glass"><?php echo $this->__('What means shoppartner?'); ?></span>
        <h2><?php echo $this->__("Your Shoppartner"); ?></h2>
        <p><?php echo $this->__("For your default Billing-Address<br><strong><a href='/customer/address'>%s</a></strong><br />we have picked the folowing Shop-Partner for you.<br />The distance is only <strong>%s</strong> Km.", Mage::helper('stendel_shoppartner')->getCustomersDefaultShippingAdress(), number_format($shoppartner['distance'], 2)); ?></p>
        <?php echo $_helper->getShoppartnerAddress('full', $shoppartner['entity_id']); ?>
    <?php else: ?>
        <h2><?php echo $this->__("No Shoppartner"); ?></h2>
    <?php endif ?>
<?php endif ?>

