<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   BL
 * @package    BL_CustomGrid
 * @copyright  Copyright (c) 2016 Benoît Leulliette <benoit.leulliette@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php /** @var $this BL_CustomGrid_Block_Widget_Grid_Config_Rss_Links */ ?>
<div class="blcg-no-display">
    <div id="<?php echo $this->getHtmlId() ?>">
        <ul class="blcg-rss-links-list">
        <?php foreach ($this->getRssLinks() as $_rssLink): ?>
            <li><a href="<?php echo $_rssLink->getUrl() ?>" class="link-feed"><?php echo $_rssLink->getLabel() ?></a></li>
        <?php endforeach ?>
        </ul>
    </div>
</div>