<?php
/**
 * Stendel_OrderComment
 *
 * @category  Stendel
 * @package   Stendel_OrderComment
 * @version   1.0.0
 * @copyright 2015 Stefan Stendel (www.foto-stendel.de)
 */

?>

<?php

$_helper = Mage::helper('ordercomment');

?>

<form id="co-customer-notice" action="">
    <div class="customer-notice">
        <div class="field customer-notice">
            <label for="<?php print $this->getCommentFieldId(); ?>"><?php print $_helper->__('Customer notice'); ?></label>
            <textarea id="<?php print $this->getCommentFieldId(); ?>" name="<?php print $this->getCommentFieldId(); ?>"></textarea>
        </div>
    </div>
</form>