<?php
/**
 * Stendel_OrderComment
 *
 * @category  Stendel
 * @package   Stendel_OrderComment
 * @version   1.0.0
 * @copyright 2015 Stefan Stendel (www.foto-stendel.de)
 */

?>

<script type="text/javascript" src="<?php print $this->getSkinUrl('js/ordercomment.js') ?>"></script>

<div class="order-review" id="checkout-review-load">
    <!-- Content loaded dynamically -->
</div>
