<?php
/**
 * Lotusbreath
 * @see Mage_Checkout_Block_Agreements
 */
$googleAddress = Mage::helper('stendel_shoppartner')->getGoogleAddress();
$shoppartner = Mage::helper('stendel_shoppartner')->getCustomersShoppartnerByAddress($googleAddress['address']);
$custom_vars = array(
    'shoppartner'=>Mage::helper('stendel_shoppartner')->getShoppartnerAddress('agreement', $shoppartner['entity_id'])
);
$filter = Mage::getModel('core/email_template_filter');
$filter->setVariables($custom_vars);
?>

<?php if (!$this->getAgreements()) return; ?>
<?php foreach ($this->getAgreements() as $_a): ?>
    <div class="checkout-agreements-wrapper">
        <textarea disabled name="agreement" class="checkout-agreements-wrapper textarea"><?php echo $filter->filter($_a->getContent()); ?></textarea>
        <div class="checkout-agreement-checkbox-wraper">
            <input type="checkbox" id="agreement-<?php echo $_a->getId() ?>" name="agreement[<?php echo $_a->getId() ?>]"
                   value="1" title="<?php echo $this->htmlEscape($_a->getCheckboxText()) ?>" class="checkbox"/>
            <label for="agreement-<?php echo $_a->getId() ?>">
                <?php echo $_a->getIsHtml() ? $_a->getCheckboxText() : $this->htmlEscape($_a->getCheckboxText()) ?>
            </label>
        </div>
    </div>
<?php endforeach ?>
<div id="agreenment-error" class="error">
</div>



