    <h3 class="ptitle">
        <?php echo $this->__("Delivery time"); ?>
    </h3>
    <?php echo $this->__('1 to 3 days!'); ?>

<h3 class="ptitle">
    <?php if ($reviewOrderHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/review_header')):?>
        <?php echo $reviewOrderHeader;?>
    <?php else:?>
        5. <?php echo $this->__("Review Order"); ?>
    <?php endif;?>
</h3>

<div class="order-review" id="checkout-review-load">
    <?php echo $this->getChildHtml('info'); ?>
</div>
