<ul class="messages">
    <li class="error-msg">
        <?php
        echo $this->__("Please be informed that, if you use Klarna as acquirer on PayEngine side, it's not possible to use adjustment fees/refunds");
        ?>.
    </li>
</ul>