<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Audit
 */
?>
<?php echo $this->getFormInitScripts() ?>
<script type="text/javascript">
    function openMyPopup() {
        var dialogWindow = Dialog.info($('restore_block').innerHTML, {
            closable: true,
            resizable: false,
            draggable: true,
            className: 'magento',
            windowClassName: 'popup-window',
            title: 'Restore Warning',
            top: 50,
            width: 300,
            height: 100,
            zIndex: 1000,
            recenterAuto: false,
            hideEffect: Element.hide,
            showEffect: Element.show,
            id: 'browser_window'
        });
    }

    function closePopup() {
        Windows.close('browser_window');
    }

</script>
<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>
<?php echo $this->getFormHtml() ?>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<?php echo $this->getFormScripts() ?>
<div id="restore_block" style="display: none">
    <form action="<?php echo $this->getRestoreUrl(); ?>" method="get">
        <div id="restore_mesage"><?php echo Mage::getStoreConfig('amaudit/restore_settings/restore_text'); ?></div>
        <button style="" class="scalable save" type="submit"><span><?php echo $this->__('Restore Changes'); ?></span>
        </button>
        <button style="" class="scalable cancel" onclick="javascript:closePopup();">
            <span><?php echo $this->__('Cancel'); ?></span></button>
    </form>
</div>