<?php
/**  Autor: Wolf Schmidt, 11.02.2015
 *  Schmidt Medienservice
 */

$angebote_array = Mage::helper('sms_angebote')->angebot(2577);
$angebotname = $angebote_array[1];
$angebotsku = $angebote_array[2];
$angebotimg = $angebote_array[0];
$angebotvk = $angebote_array[5];
$angebotvk = number_format($angebotvk,2,",",".");


$neuheiten_array = Mage::helper('sms_neuheiten')->neuheiten(2579);
$neuheitenname = $neuheiten_array[1];
$neuheitensku = $neuheiten_array[2];
$neuheitenimg = $neuheiten_array[0];
$neuheitenvk = $neuheiten_array[5];
$neuheitenvk = number_format($neuheitenvk,2,",",".");

$link = "http://" . $_SERVER['HTTP_HOST'] . "/" . $neuheiten_array['4'];

$product = Mage::getModel('catalog/product')->load(Mage::getModel('catalog/product')->getIdBySku($neuheitensku));

?>

<div class="block block-cart">
    <div class="block-inner">
        <div class="block-title">
            <strong><span><?php echo $this->__('LATEST ITEMS') ?></span></strong>
        </div>
        <div class="block-content">
            <ol id="cart-sidebar" class="mini-products-list">
                <li class="item">
                    <a href="<?php echo $link; ?>">
                        <img src="<?php echo $product->getImageUrl(); ?>" width="50" height="50" title="<?php echo 
$neuheiten_array['1']; ?>">
                    </a>
                    <div class="product-details"><a href="<?php echo $link; ?>"><?php echo $neuheiten_array['3'] ?></a></div>
                </li>
            </ol>
            <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
            <div class="summary">
                <p class="subtotal">
                    <span class="label"><?php echo $this->__('Price') ?></span>
                    <span class="price"><?php echo $neuheitenvk; ?></span>
                    <span class="mwstzeile"><br /><?php echo PREIS_UNTERZEILE; ?></span>
                    <span class="mwstzeile" data-ot="<?php echo $this->__('<p>Bei einem Warenwert unter 50 Euro berechnen wir innerhalb Deutschlands 3,90 € Versandkosten. Für Versand nach Belgien, Dänemark, Niederlande und Österreich berechen wir 4,90 €. Ab einem Warenwert von 50 Euro versenden wir versandkostenfrei.</p>'); ?>" data-ot-delay="0" data-ot-style="glass"><a href="<?php echo $this->escapeUrl($this->getBaseUrl())."Versandbedingungen"; ?>"><?php echo $this->__('Versandkosten'); ?></a>)</span>
                </p>
            </div>
            <div class="actions">
                <?php $category = Mage::getModel('catalog/category')->load(2579); ?>
                <button type="button" title="<?php echo $this->__('All New Items'); ?>" class="button" onClick="setLocation('<?php echo $category->getUrl(); ?>')">
            <span>
                <span><?php echo $this->__('All New Items') ?></span>
                </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
