<!--@subject Email - Support @-->
<p>
    Falls Du Fragen oder Anregungen hast, kontaktiere uns bitte wahlweise per E-Mail
    <a href="mailto:{{var store_email}}">{{var store_email}}</a>
    {{depend store_phone}} oder auch per Telefon unter der Rufnummer <h4>{{var store_phone}}</h4>{{/depend}}.
</p>