<?php

$divid = 'jm-contain-'.rand().rand().time();
$classid = 'jm-products-slider-content'.rand().rand().time();
$_collectionSize = 0;
if($listall) $_collectionSize = $listall->count();

if($configs['autorun']){
	$configs['autorun'] = $configs['delaytime'];
}


?>

<?php if($_collectionSize){?>

	<?php if(!defined('JM_ADD_JQUERY')){;?>
		<script type="text/javascript">
			if (!jQuery) {
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.js'); ?>";
				document.getElementsByTagName('head')[0].appendChild(script);
			}
		</script>
		<?php  define('JM_ADD_JQUERY', true); ?>
	<?php }?>
	<?php if(!defined('JM_ADD_SKIN_PRODUCTS_SILDER')){
		$detect = Mage::helper ( 'joomlart_jmproducts/mobiledetect' );
		?>

		<?php if ($configs['use_scrollerbar'] && !$detect->isMobile()){ ?>
			<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.customScroller-1.2.js') ?>"></script>
			<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.mousewheel.js') ?>"></script>
			<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.wresize.js') ?>"></script>
		<?php }else{ ?>
			<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jcarousellite_1.0.1_custom.js') ?>"></script>
		<?php } ?>

		<?php  define('JM_ADD_SKIN_PRODUCTS_SILDER', true); ?>
	<?php }?>

	<script type="text/javascript">
		jQuery.noConflict();
		<?php if ($configs['use_scrollerbar']){ ?>
		jQuery(window).bind("load", function(){
			jQuery(".<?php echo $classid; ?>").customScroller({width: <?php echo ($configs['itemwidth'])*($configs['number_items'])-40;?>, height: <?php echo ($configs['itemheight']);?>});
		});
		<?php }else{ ?>
		jQuery(document).ready(function($){
			$("#<?php echo $divid?>").jCarouselLite({
				auto: <?php echo $configs['autorun']?>,
				speed: 			<?php echo $configs['animationtime']?>,
				visible: 		<?php echo $configs['number_items']?>,
				btnNext: "#jmmainwrap-<?php echo $divid?> .jm-next",
				btnPrev: "#jmmainwrap-<?php echo $divid?> .jm-prev",
				width: <?php echo $configs['number_items']*($configs['width']+10); ?>,
				width_img: <?php echo $configs['width']; ?>
			});
		});

		<?php } ?>
	</script>
<?php }?>
<?php $baseconfig = Mage::getStoreConfig("wavethemes_jmbasetheme/jmbasethemedefault"); ?>
<div class="block jm-products-slider-listing" id="jmmainwrap-<?php echo $divid?>">
	<?php if(isset($configs['title']) && $configs['title']!=''){?>
		<div class="block-title"><strong><span><?php echo $configs['title']?> </span></strong>
			<?php if (!$configs['use_scrollerbar']){ ?>
				<div class="jm-prev">
					<img class="jm-slide-left-img" title="Left direction" onmouseout="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-left.gif') ?>'" onmouseover="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-left-hover.gif') ?>'" alt="Left direction" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-left.gif') ?>"/>
				</div>
				<div class="jm-next">
					<img class="jm-slide-right-img" title="Right direction" onmouseout="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-right.gif') ?>'" onmouseover="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-right-hover.gif') ?>'" alt="Right direction" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-right.gif') ?>"/>
				</div>
			<?php }?>
		</div>
	<?php }?>

	<?php if($_collectionSize){?>

		<div class="jm-products-slider-content clearfix block-content <?php echo $classid; ?>" >


			<div id="<?php echo $divid?>" class="jm-slider" style="overflow: hidden; width: <?php echo $_collectionSize*($configs['itemwidth']);?>px !important; float: left; left: 0 !important;">

				<ul class="jm-slider-ul products-grid">

					<?php foreach ($listall->getItems() as $_product){ ?>
						<?php
						$product = Mage::getModel('catalog/product')->load($_product->getId());
						$attribute = $product->getResource()->getAttribute('label');
						if(is_object($attribute)){

							$_options= $attribute->getSource()->getAllOptions(true, true);
							foreach($_options as $option){
								if ($option['value'] == $product->getData("label")){
									$class =  $option['label'];
								}
							}
							$attdefaultvalue = $attribute->getDefaultValue();
							$attributeValue = Mage::getModel('catalog/product')->load($_product->getId())->getlabel();
							$attributeValueName = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('label');
							if(strlen($attributeValue) &&  ($attdefaultvalue !== $attributeValue)) {
								$labeltype = $class;
								$labelname = $attributeValueName;
							}
							else {
								$labeltype = "";
							}
						}
						?>
						<li class="jm-slider-li item" style="float: left;width:<?php echo $configs['itemwidth']; ?>px;height:<?php echo $configs['itemheight']; ?>px">
							<div class="item-slider">
								<p class="product-image">
									<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
										<img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->keepAspectRatio(TRUE)->resize($configs['width'], $configs['height'])->setWatermarkSize('30x10'); ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
									</a>
									<?php if ($labeltype && $baseconfig["showlabel"]): ?>
										<span class="<?php echo $labeltype; ?>-label label"><?php echo $labelname;	?></span>
									<?php endif; ?>
								</p>
								<div class="product-information">
									<h2 class="product-name">
										<a class="product-title" title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
											<?php
											if (strlen($_product->getName()) > 30) :
												echo substr($_product->getName(),0, 24).'...';
											else :
												echo $_product->getName();
											endif;
											?>
										</a>
									</h2>
									<?php if ($configs['show_price']) : ?>
										<?php echo $this->getPriceHtml($_product,true, '_jmslider') ?>
									<?php endif; ?>
									<?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
									<?php if(($configs['show_desc']) && ($configs['max'])):?>
										<p class="pdescription"><?php echo substr($_product->getShortDescription(),0, ($configs['max']));?></p>
									<?php endif; ?>
									<div class="clearer"></div>
									<?php if($configs['show_cart']){ ?>
										<?php if($_product->isSaleable()){ ?>
											<button class="button btn-cart flat" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
												<span><?php echo $this->helper("catalog")->__('Add to Cart') ?></span>
											</button>
										<?php } else { ?>
											<div class="out-of-stock"><?php echo $this->helper("catalog")->__('Out of stock') ?></div>
										<?php } ?>
									<?php } ?>
									<ul class="add-to-links">
										<?php if ($this->helper('wishlist')->isAllow()) : ?>
											<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
													<?php echo $this->__('Add to Wishlist') ?>
												</a></li>
										<?php endif; ?>
										<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
											<li>
												<a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
										<?php endif; ?>
									</ul>
									<div class="clearer"></div>
									<?php if ($configs['show_readmore']) : ?>
										<a class="product-title" title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
											<?php echo $this->__("Read more") ?>
										</a>
									<?php endif; ?>
								</div>
							</div>
						</li>
					<?php } ?>
				</ul>
			</div>
		</div>
	<?php } ?>
</div>