<?php
/**  Autor: Wolf Schmidt, 21.05.2015
 *  Company: Schmidt Medienservice
 */
//Funktionen

$session = Mage::getSingleton('core/session', array('name'=>'frontend'));
$fahrzeugart = $_REQUEST["vehicletype"];
$hersteller = $_REQUEST["manufacturer"];
$ccm = $_REQUEST["capacity"];
$bike_id = $_REQUEST["bike_id"];
$moto = $_REQUEST["bike"];
$save = $_REQUEST["save"];
$change = $_REQUEST["change"];
$filter = $_REQUEST["filter"];

if ($_REQUEST['change'] == "change") {
    unset($bike_id);
    unset($save);
}

//Eingeloggter User
if ($this->helper('customer')->isLoggedIn()):
    $sms_fahrzeug_id = Mage::getSingleton('customer/session')->getCustomer()->getSmsFahrzeugId();
    $bike = Mage::helper('sms_fahrzeug')->getBike($sms_fahrzeug_id);
    if (!empty($sms_fahrzeug_id)) {

        if (!isset($change)) {
            $show = "show";
        }

        ?>
        <h3><?php echo $this->__(Mage::getSingleton('customer/session')->getCustomer()->getFirstname()); ?>s Motorrad</h3>
        <h3>
            <?php
            echo "$bike[sms_hersteller] $bike[sms_modell], $bike[sms_fahrgestellnr], $bike[sms_baujahr_von] - $bike[sms_baujahr_bis]";
            ?>
        </h3>
        <h3>
            <form ACTION="/fahrzeug/index/delete" METHOD="POST">
                <button>
                    <span><?php echo $this->__('Delete') ?></span>
                </button>
            </form>
            <?php if (!isset($change)) { ?>
                <form action="/fahrzeug" METHOD="POST">
                    <input type="hidden" name="show" value="">
                    <button onclick="submit" value="change" name="change"><?php echo $this->__('Change Selection') ?></button>
                </form>
            <?php } ?>
            <a href="/fahrzeug?bike=<?php echo $bike['sms_mkz']; ?>&vehicletype=<?php echo $bike['sms_fahrzeugart']; ?>&manufacturer=<?php echo $bike['sms_hersteller']; ?>&capacity=<?php echo $bike['sms_hubraum']; ?>&show=show&change=change"><button><span><?php echo $this->__('Show matching articles') ?></span></button></a>
        </h3>
    <?php } ?>
    <!-- Kein Fahrzeug gespeichert und noch keins in der Session -->
    <?php if (empty($sms_fahrzeug_id) && empty($session['bike_id'])) : ?>
    <h3><?php echo $this->__(Mage::getSingleton('customer/session')->getCustomer()->getFirstname()) . $this->__(', you have saved no motorcycle.'); ?></h3>
<?php endif; ?>

    <!-- Noch kein Fahrzeug gespeichert, aber schon eines in der Session -->
    <?php if (empty($sms_fahrzeug_id) && !empty($session['bike_id']) && $change <> "change") : ?>
    <h3><?php echo $this->__(Mage::getSingleton('customer/session')->getCustomer()->getFirstname()) . $this->__(', you have saved no motorcycle.'); ?></h3>
    <h4><?php echo $this->__('This is the Last viewed vehicle:'); ?></h4>

    <?php
    $sms_fahrzeug_id = Mage::getSingleton('core/session')->getBikeId();
    $bike = Mage::helper('sms_fahrzeug')->getBike($sms_fahrzeug_id);
    $show = "show";
    echo "<h4>$bike[sms_modell] | $bike[sms_fahrgestellnr] | $bike[sms_baujahr_von] - $bike[sms_baujahr_bis]</h4>"; ?>
    <form action="/fahrzeug/index/save" METHOD="POST">
        <input type="hidden" name="bike_id" value="<?php echo $bike[sms_mkz]; ?>">
        <?php if ($this->helper('customer')->isLoggedIn()) { ?>
            <button><span><?php echo $this->__('Save as your bike') ?></span></button>
        <?php } ?>
    </form>
    <a href="/fahrzeug?change=change"><button><span><?php echo $this->__('Choose another bike') ?></span></button></a>
    <a href="/fahrzeug?bike=<?php echo $bike['sms_mkz']; ?>&vehicletype=<?php echo $bike['sms_fahrzeugart']; ?>&manufacturer=<?php echo $bike['sms_hersteller']; ?>&capacity=<?php echo $bike['sms_hubraum']; ?>&show=show&change=change"><button><span><?php echo $this->__('Show matching articles') ?></span></button></a>
<?php endif; ?>



    <?php if ($change == "change" OR (empty($sms_fahrzeug_id) && empty($session[bike_id]))) : ?>
    <!-- Ab hier die Fahrzeugauswahl -->
    <?php include("form.phtml"); ?>

<?php endif; ?>

    <?php if (isset($moto) && !isset($save)) : ?>
    <hr>
    <?php
    foreach ($moto as $column => $value) {
        $session->setBikeId($value[sms_mkz]);
        echo "<h4>$value[sms_modell] | $value[sms_fahrgestellnr] | $value[sms_baujahr_von] - $value[sms_baujahr_bis]</h4>"; ?>
        <form action="/fahrzeug/index/save" METHOD="POST">
            <input type="hidden" name="bike_id" value="<?php echo $value[sms_mkz]; ?>">
            <?php if ($this->helper('customer')->isLoggedIn()) { ?>
                <button><span><?php echo $this->__('Save as your bike') ?></span></button>
            <?php } ?>
        </form>
    <?php } ?>
<?php endif; ?>
<?php endif; ?>

    <!-- Ende eingeloggter User -->

<?php if (!$this->helper('customer')->isLoggedIn()) : ?>
    <h4><?php echo $this->__('Hello guest')?>,<br><?php echo $this->__('to store your vehicle choices you need to')?> <a href="/customer/account/login"><?php echo $this->__('login')?></a>
        <?php echo $this->__('or')?> <a href="/customer/account/login"><?php echo $this->__('create an account.')?></a></h4>

    <!-- Ab hier die Fahrzeugauswahl -->
    <?php
    include("form.phtml");
    if (isset($moto) && !isset($save)) : ?>
        <hr>
        <?php
        foreach ($moto as $column => $value) {
            $session->setBikeId($value[sms_mkz]);
            echo "<h4>$value[sms_modell] | $value[sms_fahrgestellnr] | $value[sms_baujahr_von] - $value[sms_baujahr_bis]</h4>"; ?>
            <form action="/fahrzeug/index/save" METHOD="POST">
                <input type="hidden" name="bike_id" value="<?php echo $value[sms_mkz]; ?>">
                <?php if ($this->helper('customer')->isLoggedIn()) { ?>
                    <button><span><?php echo $this->__('Save as your bike') ?></span></button>
                <?php } ?>
            </form>
        <?php } ?>
    <?php endif; ?>
    <!--    ?>-->
<?php endif; ?>
<?php //}
//
////if($this->helper('customer')->isLoggedIn() && !isset($save)) {
//if(!isset($save)) {
//    $sms_fahrzeug_id = Mage::getSingleton('customer/session')->getCustomer()->getSmsFahrzeugId();
//    if (empty($sms_fahrzeug_id)) {
//        $sms_fahrzeug_id = Mage::getSingleton('core/session')->getBikeId();
////        if (!empty($sms_fahrzeug_id)) {
//        echo $this->__('Last viewed vehicle:');
////        }
//        $bike = Mage::helper('sms_fahrzeug')->getBike($sms_fahrzeug_id);
//        ?>
    <!--        <h3>-->
    <!--            --><?php
//            foreach ($bike as $column => $value) {
//                echo "$value ";
//            }
//            ?>
    <!--        </h3>-->
<?php //  }
//    $sms_fahrzeug_id = Mage::getSingleton('customer/session')->getCustomer()->getSmsFahrzeugId();
//    $bike = Mage::helper('sms_fahrzeug')->getBike($sms_fahrzeug_id);
//    if (!empty($sms_fahrzeug_id)) {
//        ?>
    <!--        <h3>--><?php //echo $this->__(Mage::getSingleton('customer/session')->getCustomer()->getFirstname()); ?><!--s Motorrad</h3>-->
    <!--        <h3>-->
    <!--            --><?php
//            foreach ($bike as $column => $value) {
//                echo "$value ";
//            }
//            ?>
    <!--        </h3>-->
    <!--        --><?php //if (!isset($change)) { ?>
    <!--            <h3>-->
    <!--                <form action="/fahrzeug" METHOD="POST">-->
    <!--                    <button onclick="submit" value="change" name="change">--><?php //echo $this->__('Change Selection') ?><!--</button>-->
    <!--                </form>-->
    <!--            </h3>-->
    <!--        --><?php
//        }
//    }
//    if (empty($sms_fahrzeug_id) && empty($session['bike_id'])) {
//        ?>
    <!--        <h4>Hallo --><?php //echo $this->__(Mage::getSingleton('customer/session')->getCustomer()->getFirstname()); ?><!--, Du hast noch kein Fahrzeug gespeichert.</h4>-->
    <!--    --><?php
//    }
//}
//elseif (!$this->helper('customer')->isLoggedIn() && !isset($save)) { ?>
    <!--    <h4>--><?php //echo $this->__('Hello guest')?><!--,<br>--><?php //echo $this->__('to store your vehicle choices you need to')?><!-- <a href="/customer/account/login">--><?php //echo $this->__('login')?><!--</a>-->
    <!--        --><?php //echo $this->__('or')?><!-- <a href="/customer/account/login">--><?php //echo $this->__('create an account.')?><!--</a></h4>-->
<?php //} ?>
    <!---->
<?php //if ((!isset($save) && isset($change)) OR !$this->helper('customer')->isLoggedIn()) { ?>

    <!-- Ab hier die Fahrzeugauswahl -->


<?php
// Anzeige der Artikel
if ($_REQUEST['show'] == "show"):
    if (!$bike[sms_mkz]) {
        $bikeselect = $value[sms_mkz];
    } else {
        $bikeselect = $bike[sms_mkz];
    }
    $fahrzeugdaten = Mage::helper('sms_fahrzeug')->selectMoto($bikeselect);
    $productbybikeCollection = Mage::helper('sms_fahrzeug')->showProducts($bikeselect, $fahrzeugdaten);
    echo "<h3>". $this->__('Articles for your chosen vehicle:') . "</h3>";
     include("productlist.phtml");

endif;
?>