<?php
/**
 * Created by PhpStorm.
 * User: WOLF
 * Date: 11.06.2015
 * Time: 13:13
 */
?>
    <FORM ACTION="/fahrzeug" METHOD="POST" NAME="mkz" onsubmit="javascript:return routeCall(this);">

        <?php $vehicletype = Mage::helper('sms_fahrzeug')->getVehicletype(); ?>
        <div class="styled-select grey">
            <select style=width:268px; name='vehicletype' onchange="javascript:window.location.href='/fahrzeug?change=change&vehicletype='+this.value">
                <?php
                if ($_REQUEST["vehicletype"] == "") {
                    $fahrzeugart = "FAHRZEUGART";
                }
                echo "<OPTION SELECTED=SELECTED value=$fahrzeugart>$fahrzeugart</OPTION>";

                foreach ($vehicletype as $column => $value) {
                    echo "<OPTION VALUE='$value[sms_fahrzeugart]'>$value[sms_fahrzeugart]</OPTION>";
                }
                ?>
            </select>
        </div>

        <div style="height: 5px;"></div>
        <?php $manufacturer = Mage::helper('sms_fahrzeug')->getManufacturer($fahrzeugart); ?>
        <div class="styled-select grey">
            <select style=width:268px; name='manufacturer' onchange="javascript:window.location.href='/fahrzeug?change=change&vehicletype=<?php echo $fahrzeugart; ?>&capacity=HUBRAUM&manufacturer='+this.value">
                <?php
                if ($_REQUEST["manufacturer"] == "") {
                    $hersteller = "HERSTELLER";
                }
                echo "<OPTION SELECTED=SELECTED value=$hersteller>$hersteller</OPTION>";

                foreach ($manufacturer as $column => $value) {
                    echo "<OPTION VALUE='$value[sms_hersteller]'>$value[sms_hersteller]</OPTION>";
                }
                ?>
            </select>
        </div>

        <div style="height: 5px;"></div>
        <?php $capacity = Mage::helper('sms_fahrzeug')->getCapacity($fahrzeugart, $hersteller); ?>
        <div class="styled-select grey">
            <SELECT style=width:268px; NAME='capacity' onchange="javascript:window.location.href='/fahrzeug?change=change&vehicletype=<?php echo $fahrzeugart; ?>&manufacturer=<?php echo $hersteller; ?>&capacity='+this.value">
                <?php
                if ($_REQUEST["capacity"] == "") {
                    $ccm = "HUBRAUM";
                }
                echo "<OPTION SELECTED=SELECTED value=$ccm>$ccm</OPTION>";

                foreach ($capacity as $column => $value) {
                    if ($value["sms_hubraum"] > 0) {
                        echo "<OPTION VALUE='$value[sms_hubraum]'>$value[sms_hubraum]</OPTION>";
                    }
                }
                ?>
            </select>
        </div>

        <div style="height: 5px;"></div>
        <?php $bike = Mage::helper('sms_fahrzeug')->getMoto($fahrzeugart, $hersteller, $ccm); ?>
        <div class="styled-select grey">
            <SELECT style=width:268px; NAME="bike" class="selectfield" >
                <?php
                if ($_REQUEST["bike"] == "" OR $_REQUEST["bike"] == "FAHRZEUG") {
                    $moto = "FAHRZEUG";
                    echo "<OPTION SELECTED=SELECTED value=$moto>$moto</OPTION>";
                } else {
                    $moto = Mage::helper('sms_fahrzeug')->getSelected($moto);
                    foreach ($moto as $column => $value) {
                        echo "<OPTION SELECTED=SELECTED VALUE='$value[sms_mkz]'>$value[sms_modell], $value[sms_baujahr_von] - $value[sms_baujahr_bis]</OPTION>";
                    }
                }
                foreach ($bike as $column => $value) {
                    echo "<OPTION VALUE='$value[sms_mkz]'>$value[sms_modell], $value[sms_baujahr_von] - $value[sms_baujahr_bis]</OPTION>";
                }
                ?>
            </SELECT>
        </div>
        <input type="hidden" name="change" value="change">
        <input type="hidden" name="show" value="show">
        <div style="margin-top: 5px;">
            <button onclick="submit"><?php echo $this->__('Select') ?></button>
        </div>
    </form>