<?php
$isNewsletter = Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowsubscribe');
if ($isNewsletter){
    if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $subscriber = Mage::getModel('newsletter/subscriber')->loadByEmail(
            Mage::getSingleton('customer/session')->getCustomer()->getEmail());
        if($subscriber && $subscriber->getId())
        {
            $isNewsletter = false;
        }

    }
}
?>
<?php if ($this->getTotals()): ?>

    <tfoot>

    <?php $_colspan = $this->helper('tax')->displayCartBothPrices() ? 5 : 3; ?>
    <?php echo $this->renderTotals(null, $_colspan); ?>
    <!--<tr>
        <td class="a-right" colspan="4" style="height: 10px;"></td>
    </tr>
    !-->
    <?php echo $this->renderTotals('footer', $_colspan); ?>

    <?php if ($this->needDisplayBaseGrandtotal()):?>
        <tr>

            <td class="a-right" colspan="<?php echo $_colspan; ?>">
                <small><?php echo $this->helper('sales')->__('Your credit card will be charged for') ?></small>
            </td>
            <td class="a-right">
                <small><?php echo $this->displayBaseGrandtotal() ?></small>
            </td>
        </tr>
    <?php endif?>

    <tr>
        <td class="a-right" colspan="<?php echo $_colspan+ 1;?>">

            <div class="row edit-cart-review">

                <?php if (Mage::getStoreConfig('lotusbreath_onestepcheckout/revieworder/show_link_cart')):?>
                    <div class="lt-buttons-set left">
                        <button type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="button2 btn-continue" onclick="setLocation('<?php echo Mage::helper('core/url')->getHomeUrl() ?>')"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
                    </div>
                <?php endif;?>

                <?php
                $canEditCart = Mage::getStoreConfig('lotusbreath_onestepcheckout/revieworder/can_edit_cart');
                ?>
                <?php if ($canEditCart):?>
                    <div class="lt-buttons-set right" id="review-buttons-container">
                        <button type="button" name="edit_cart_action" id="edit_cart_action"
                                value="update_qty" title="<?php echo $this->__('Edit Your Cart') ?>" class="button btn-update">
                            <span><span><?php echo $this->__('Edit Your Cart') ?></span></span></button>
                        <button type="button" name="edit_cart_action" id="update_cart_action"
                                value="update_qty" title="<?php echo $this->__('Update') ?>" class="button btn-update" style="display: none;">
                            <span><span><?php echo $this->__('Update') ?></span></span></button>
                        <button type="button" name="edit_cart_action" id="cancel_cart_action"
                                value="update_qty" title="<?php echo $this->__('Cancel') ?>" class="button btn-close" style="display: none;"m>
                            <span><span><?php echo $this->__('Cancel') ?></span></span></button>

                    </div>


                <?php endif;?>
            </div>
            <?php if ($isNewsletter):?>
                <div style="text-align: left;">
                    <p style="text-align: left;" class="newsletter">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('26')->toHTML(); ?>
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('25')->toHTML(); ?>
                        <input type="checkbox" id="newsletter-signup" name="newsletter" value="1"
                               title="<?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>"
                               class="checkbox"
                            <?php
                            echo Mage::getStoreConfig('lotusbreath_onestepcheckout/general/autochecksubscriber') ? 'checked="checked"' : '';
                            ?>
                            />
                        <label for="newsletter-signup">
                            <?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>
                        </label>
                        <span class="tooltip underline info right" data-ot="<?php echo $this->__('<h4>Datenschutzeinwilligung</h4><p>Hiermit erkläre ich mich damit einverstanden, dass die von mir angegebenen personenbezogenen Daten ausschließlich durch die Paaschburg & Wunderlich GmbH zu Zwecken der an mich gerichteten Werbung per E-Mail die im Zusammenhang mit der Plattform Brands4bikes steht erhoben, gespeichert, verarbeitet und auch genutzt werden dürfen. Ich kann der Nutzung meiner Daten durch die Paaschburg & Wunderlich GmbH, jederzeit telefonisch unter 0 40 / 24 82 77-0, schriftlich an Paaschburg & Wunderlich GmbH, Wendenstraße 349, 20537 Hamburg oder per Mail an widerruf@brands4bikes.de widersprechen.</p>'); ?>" data-ot-delay="0" data-ot-style="glass"><?php echo $this->__('Datenschutzeinwilligung'); ?></span>
                    </p>
                </div>

            <?php endif;?>
            <?php echo $this->getChildHtml('agreements') ?>
            <div id="saveOder-error" class="error"></div>
            <button role='review-save' type="submit"
                    title="<?php echo Mage::helper('checkout')->__('Place Order') ?>" name="submitbtn"
                    id="lbonepage-place-order-btn" class="button btn-checkout">
                <span><span><?php echo Mage::helper('checkout')->__('Place Order') ?></span></span>
            </button>
        </td>
    </tr>
    </tfoot>
<?php endif; ?>
