<?php if (Mage::getStoreConfig('vcatalog/general/incategory') == 1): ?>
    <?php
    $obj = new Mage_Catalog_Block_Navigation();
    $store_cats = $obj->getStoreCategories();
    $current_cat    = $obj->getCurrentCategory();
    $current_cat    = (is_object($current_cat) ? $current_cat->getName() : ''); ?>
    <div class="block block-layered-nav block-navigation">
        <div class="block-content clearfix">
            <ul id="ja-sidenav">
                <?php foreach ($store_cats as $cat) {
                    echo $obj->drawItem($cat);
                }
                ?>
            </ul>
        </div>
    </div>
<?php endif ?>