<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   BL
 * @package    BL_CustomGrid
 * @copyright  Copyright (c) 2016 Benoît Leulliette <benoit.leulliette@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php /** @var $this BL_CustomGrid_Block_Widget_Grid_Column_Renderer_Sales_Items_Sub_Row_Default */ ?>
<?php
    $_valuesHtml = $this->getValue()->getValuesHtml();
?>
<tr class="border">
<?php foreach ($this->getValue()->getItemValues() as $_itemValue): ?>
    <td<?php if ($_cssClasses = $this->getItemValueCssClasses($_itemValue, 'value_align')): ?> class="<?php echo $_cssClasses ?>"<?php endif ?>>
        <?php echo (isset($_valuesHtml[$_itemValue['code']]) ? $_valuesHtml[$_itemValue['code']] : '') ?>
    </td>
<?php endforeach ?>
</tr>