<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   BL
 * @package    BL_CustomGrid
 * @copyright  Copyright (c) 2016 Benoît Leulliette <benoit.leulliette@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php /** @var $this Mage_Adminhtml_Block_Template */ ?>
<div class="content-header">
    <h3 class="icon-head head-adminhtml"><?php echo $this->__('Unknown Attribute Renderer') ?></h3>
</div>
<div><?php echo $this->__('The requested attribute renderer does not exist...') ?></div>