/*
 * ------------------------------------------------------------------------
 * JM Flannel Theme for Magento 1.8
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

body {
  font-size: 13px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /*Fix Mobile Safari Font Scale*/
}

.main,
.ja-lo-2colsl #ja-mainbody,
.ja-lo-2colsr #ja-mainbody,
.ja-lo-3cols #ja-mainbody,
.ja-lo-2colsl #ja-main,
.ja-lo-3cols #ja-main { width: 100%; }

#ja-main { margin-bottom: 0; }

.wrap { min-width: 100%; }

.ja-lo-3cols #ja-main {
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

#ja-col1,
#ja-col2 { display: none; }

#ja-wrapper { padding-top: 0; }

#ja-header { position: relative; }

#ja-header .main { width: 100%; }

.main .inner {   margin: 0 10px; }

h1#logo, div#logo-text {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  border-bottom:1px solid #e5e5e5;
}

h1#logo a { width: 100%; background-position: center center; background-repeat: no-repeat; }


.right-box {
  float: left;
  width: 100%;
  background:#fff;
  height:120px;
  border-bottom:1px solid #E5E5E5;
  }

.col2-set .col-2,
.col2-set .col-1 { width: 100%; float:left; } 
.col2-set .col-1 { margin-bottom: 10px; }

#ja-mycart {width:60px; height:60px; top:60px !important;}

#ja-mycart .btn-toggle { background-position:5px -133px !important;  padding:0; width:60px;}

#ja-mycart .btn-toggle strong.totalcart { display: none }

.jm-products-slider-listing { display: none; }

#ja-current-content .widget-static-block {
  visibility: hidden;
  height: 0;
  margin: 0;
}


.cart .crosssell { display:none; }

/* Top Spotlight ---*/
#ja-topsl { display: none; }

/* Footer ---*/
.jm-info-right {
  margin-top: 10px;
}

#ja-footer li {
  background: none;
  font-size: 10px;
  margin-right: 0;
}

/*Heading---*/
.page-title h1 { font-size: 110%; text-align: left }

.title-buttons { text-align: center; }

.title-buttons h1 { float: none; }

.title-buttons ul { float: none; text-align: center; }

.title-buttons ul li { float: none; }

.title-buttons .link-print,
.title-buttons .separator { display: none; }

/* Toggle ---*/
.has-toggle {
	float:right;
	position:relative !important;
	left:auto !important;
	right:auto !important;
    top: auto !important;
	width:auto;
}

.has-toggle .btn-toggle {
  display: block;
  width: 60px;
  height: 59px;
  line-height:59px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top left;
  /*text-transform: uppercase;*/
  cursor: pointer;
}

.has-toggle .btn-toggle strong {
  font-weight: normal;
  display: none;
}

.has-toggle .btn-toggle.active { color: #3f739a; background-position: bottom left; }

.has-toggle .inner-toggle {
  position: absolute;
  right: 0;
  display: none !important;
  position: absolute;
  padding: 20px;
  background: #fff;
}

.has-toggle .btn-toggle.active + .inner-toggle {
  display: block !important;
}

.has-toggle .inner-toggleactive {
  background: #fff;
  padding: 20px;
  display: block !important;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1);
}

.has-toggle .inner-toggle .block-account {
  padding: 0;
}

.has-toggle .inner-toggle .block-title {
  display: none;
}

/* Form ---*/
input.input-text, select, textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.form-list li .input-box select.address-select {
  width: 100%;
}

.form-list li.wide .input-box input.input-text, .form-list li.wide .input-box textarea,
.form-list li .input-box .input-text, .form-list li .input-box textarea {
  width: 100%;
}

button.button, button {
  font-size: 12px;
  text-transform: none;
}

.fieldset li .field {
  width: 100%;
}

.fieldset .legend {
  font-size: 12px;
}

.fieldset li .input-box select {
  width: 100%;
}

.fieldset label, .form-list label, .sp-methods label {
  font-weight: normal;
  font-size: 12px;
}

.form-list li .input-box select {
  width: 100%;
}

#login-form h2 { font-size:110%; }

#checkout-review-table th,
#checkout-review-table tr td {
  width: auto;
}

.opc .form-list li.fields .field { width:100% }

/* TABLE */
.data-table { font-size: 12px; }

.data-table td, .data-table th { padding: 5px ; text-transform: none; }

.data-table tr.last td, .data-table tr.last th { border-bottom: 1px solid #ddd !important; }
.data-table td.last, .data-table th.last, .data-table th:last-child { border-right:1px solid #E5E5E5}

.data-table td .product-image { text-align:center; }

colgroup col { width: 0; }

.checkout-progress li { width: 100%; }

/* Product List ---*/
.products-grid li.item {
  width: 50% !important;
  background-image: none;
}

.products-grid li.item-row-last { margin-bottom: 20px; }

.products-grid li.item-row-last:last-child { margin-bottom: 0; }

.products-grid li.item.first { clear: none; }

.products-grid li.visible-tablet + li.item,
.products-grid li.item:first-child {
  background: url(../images/dot.gif) repeat-y right top;
}

.products-grid li.separator { display: none; }

.products-grid li.visible-tablet { display: block; }

.products-grid li.separator-last:last-child { display: none; }

.products-grid .product-image img {
  padding: 0;
}

.products-grid .item-row-last .actions,
.jm-product-list .products-grid.last .actions {
  padding-bottom: 20px;
}

.products-grid li.item .jmquickview { display: none !important; }

.products-grid .product-information .add-to-links { margin-top:0px; display: block !important}
.products-grid .product-information .add-to-links a { margin-left:0; }

.products-grid li.item:hover .product-image {
  opacity: 1;
}

#block-related  li.separator { margin:0 20px 20px 20px; }

.products-list { padding: 0 20px;}
.products-list .product-shop { width: 100%; }

.ratings .rating-links {
  font-size: 10px;
}

.ratings .separator {
  margin: 0;
}

.toolbar .view-mode {
  margin-right: 15px;
  padding-right: 15px;
}

.toolbar .limiter,
.toolbar .sort-by {
  display: none;
}

.pager .pages {
  margin: 0;
}

.truncated { display: none; }

/* JM Categories List ---*/
.jm-cat-left,
.jm-cat-center,
.jm-cat-right {
  background: none;
  float: none;
  width: 100% !important; 
}

.jmzin-box {
  padding: 0;
  margin-bottom:30px;
}

/* Product Detail ---*/
.product-essential .product-shop { margin-left: 0; width: 100%; }
.product-options-wrap { width: 100%; }
.product-img-box { float: left; margin-right: 0; width: 100%; }

.need_some_assistance { display: none; }

.product-img-box .more-views { display: none; }

.product-image-wrap { float: none; }

.product-img-box .product-image-zoom {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  text-align: center
}

.product-img-box .product-image-zoom img {
  max-width: 100%;
  left:auto; 
  top: auto;
  position:relative;
}

.product-view .col-2 { padding: 0; border-left: 0; }

.product-view .col-1 { min-height: 0; }

#product-view-tabs { width: 100%; }
.zoom { display: none; }

.product-essential .add-to-links li { margin-bottom:5px; }

.product-view .product-img-box .product-image,
.product-view .product-img-box .product-image img { width: 310px; height: 310px; margin:0 auto;}

.product-view .product-img-box {
  margin-bottom: 30px;
}

.product-essential .add-to-box {
  overflow: visible;
}

ul.ja-tab-navigator { border-bottom: 0;}

ul.ja-tab-navigator li { border-right:none; text-align:center; width:50%; padding:0; float:left;border-bottom:1px solid #e5e5e5; }

ul.ja-tab-navigator li a { font-size: 12px !important; text-transform: capitalize;padding:0; }

.product-collateral .box-up-sell .products-grid td {
  display: block;
  width: auto;
  border: 0;
}


.product-view .box-up-sell .products-grid td.empty {
  display: none;
}

.box-tags .form-add .button {
  margin-left: 0;
}

.box-tags .form-add .input-box .input-text {
  width: 100%;
}

#review-form table {
  width: 100%;
  border: 0;
  font-size: 12px;
}

#review-form td, #review-form th {
  border: 0 !important;
  padding: 10px 5px;
  text-align: left;
  text-transform:none; 
}

#review-form input.input-text, #review-form textarea {
  width: 100%;
}

/* Shopping Cart */

.cart .page-title h1 { margin-top:5px}
.cart .page-title .checkout-types .paypal-logo { display:none}

.cart .title-buttons h1 { float:left; }

.cart .title-buttons ul { float:right; }

#shopping-cart-table th { font-size: 11px; }

#shopping-cart-table th, #shopping-cart-table td { padding:5px; }

#shopping-cart-table thead tr { border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

#shopping-cart-table th:first-child,
#shopping-cart-table td:first-child,
#shopping-cart-table th:nth-child(3n),
#shopping-cart-table td:nth-child(3n),
#shopping-cart-table th:nth-child(5n),
#shopping-cart-table td:nth-child(5n) { display: none; }

#shopping-cart-table tr td {
  padding: 5px;
  text-align: left;
}

.cart .cart-collaterals .col2-set { width: 100%; }

.cart .cart-collaterals .col2-set .col-1,
.cart .cart-collaterals .col2-set .col-2 { width:48%; }

#crosssell-products-list.products-list  { padding:0; }
#crosssell-products-list.products-list .ratings,
#crosssell-products-list.products-list .add-to-links { display:none; }
#crosssell-products-list.products-list .product-image img { width:100px; height:100px;}

.cart .cart-collaterals .col3-set .col-1,
.cart .cart-collaterals .col3-set .col-2,
.cart .cart-collaterals .col3-set .col-3,
#ja-current-content .cart-collaterals .totals { width: 100% !important; margin: 0 0 20px; }

#ja-current-content .cart-collaterals .totals { margin-bottom: 0; border-top:1px solid #e5e5e5; }

.crosssell.block { display: none; }

#coupon_code { width: 100%; }

/* Multi Checkout ---*/
#multiship-addresses-table select {
  width: 100%;
}

.multiple-checkout .col2-set .col-1, .info-set.col2-set .col-1,
.multiple-checkout .col2-set .col-2, .info-set.col2-set .col-2 {
  width: 90%;
}

big {
  font-size: 1.5em;
}

/* My Account ---*/
.box-account { border: 0; }

.box-account .box-head { padding: 5px 0; }

.box-account .box-head h2 { text-transform: none; }


.box-account #my-orders-table { border-left: 1px solid #ddd; }

.box-account #my-orders-table tr th,
.box-account #my-orders-table tr td {
  padding: 5px;
  text-align: left;
  
}

.cart-collaterals .totals tfoot td { padding:0 0 20px 0; }

.my-account .box-payment {
  margin-top: 20px;
}

#my-orders-table tr th:nth-child(3n),
#my-orders-table tr td:nth-child(3n) { display: none; }

.order-items #my-orders-table tr th,
.order-items #my-orders-table tr td {
  width: auto;
}

.order-items #my-orders-table tr th:nth-child(3n),
.order-items #my-orders-table tr td:nth-child(3n)
 {
  display: table-column;
  width: 0;
}

.order-items #my-orders-table tr td:nth-child(4n) span * {
  display: none;
}

.order-items #my-orders-table tr td:nth-child(4n) span strong {
  display: block;
}

#my-orders-table tr th,
#my-orders-table tr td { width: 20%; }

.sales-order-view .page-title a { position:absolute; right:20px;}

.box-account .col2-set { margin: 0 0 20px; }

.box-account ol#my_recent_tags, .box-account ol#my_recent_reviews { padding: 0 0 15px; }

.my-account .box { margin: 0; clear:both; }

#wishlist-table th:nth-child(2n),
#wishlist-table td:nth-child(2n) {
  display: none;
}

#wishlist-table th:nth-child(4n),
#wishlist-table td:nth-child(4n) {
  display: table-cell;
}

#wishlist-table .product-name, 
#wishlist-table .price-box {
  margin-left: 0;
  margin-right: 0;
}

#my-tags-table .button,
#wishlist-view-form .button {
  float: none;
  display: block;
  margin: 0 auto 10px auto;
  width:auto;
}

#wishlist-view-form .button { display: inline; text-align:left !important}

#my-reviews-table th:nth-child(4n),
#my-reviews-table td:nth-child(4n),
#my-reviews-table th:nth-child(3n),
#my-reviews-table td:nth-child(3n) {
  display: none;
}

#my-tags-table th:first-child,
#my-tags-table td:first-child {
  display: none;
}

#my-tags-table th:nth-child(2n),
#my-tags-table td:nth-child(2n) {
  width: 140px;
}

/* Billing Agreements ---*/
#billing-agreements td:nth-child(4n),
#billing-agreements th:nth-child(4n),
#billing-agreements td:nth-child(3n),
#billing-agreements th:nth-child(3n) {
  display: none;
}

/* Advanced search ---*/
.advanced-search li label {
  text-align: left;
  float: none;
  display: block;
}

/* Returns Page ---*/
#oar_widget_orders_and_returns_form .input-box {
  width: 100% !important;
}

#oar_widget_orders_and_returns_form .input-box .input-text {
  width: 100% !important;
}

/* Bottom Spotlight ---*/
#ja-botsl .col-1, 
#ja-botsl .col-2 {
   width: 50%;
   border-bottom:1px solid #1A1A1A
}

#ja-botsl .col-2 {
  background: none;
}

#ja-botsl .col-3, #ja-botsl .col-4, #ja-botsl .col-5 {
  width: 33.3%;
}

.block-subscribe .actions {
  bottom: 13px;
}

.block-subscribe .input-box input {
  width: 100%;
}


/* Mainnav ---*/
#ja-mainnav {
  left: 0;
  position: absolute !important;
  top: 182px !important;
  z-index: 2;
}

#ja-mainnav .btn-toggle {
  background:#fff url(../images/icon_menu_iphone.png) no-repeat center center;
  text-indent:-1000px;
  border-right:1px solid #e5e5e5;
}

#ja-mainnav .btn-toggle.active,
#ja-mainnav .btn-toggle:hover {
  background:#0E8DDF url(../images/icon_menu_iphone_hover.png) no-repeat center center;
}

#ja-mainnav .btn-toggle strong {
  display: inline-block;
}

#ja-mainnav-inner {
  padding: 0;
  width: 250px;
  position:absolute;
  left:0;
  background:#0E8DDF;
}

.jm-megamenu ul.level0 > li.mega { float: none; }

.jm-megamenu ul.level0 li.mega a.mega {
  height: auto;
  line-height: normal;
  padding: 20px;
  border-right: none;
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.jm-megamenu ul.level0 li:hover,
.jm-megamenu ul.level0 li.active {
  border: 0 !important;
  background-color: transparent !important;
  }

.jm-megamenu ul.level0 li a:hover,
.jm-megamenu ul.level0 li.active a {
  border-color: #000;
  background-color: #000;
 }

.jm-megamenu ul.level1 li.mega a.mega span.menu-title { font-family: sans-serif; color:#fff !important; padding-left:10px}

.jm-megamenu .childcontent-inner-wrap {
  margin: 0 10px;
}

.jm-megamenu .childcontent-inner {
  width: 100% !important;
  background: none;
  box-shadow: none;
}

.jm-megamenu .megacol {
  width: 100% !important;
  background: none;
}

.jm-megamenu .megacol ul.megamenu {
  margin: 0;
}

.jm-megamenu .megacol .group-content {
  display: none;
}

.jm-megamenu ul.level1 li.mega div.group-title a.mega,
.jm-megamenu ul.level1 li.mega a.mega {
  color: #999;
  padding: 10px 0;
  text-transform: none;
}

.jm-megamenu ul.level1 li.mega div.group-title a.mega:hover,
.jm-megamenu ul.level1 li.mega div.group-title a.mega:focus,
.jm-megamenu ul.level1 li.mega div.group-title a.mega:active,
.jm-megamenu ul.level1 li.mega a.mega:hover,
.jm-megamenu ul.level1 li.mega a.mega:focus,
.jm-megamenu ul.level1 li.mega a.mega:active {
  color: #000;
}

#ja-search {
  z-index: 3;
  top:60px !important;
 }


#ja-search .inner-toggle {
 right: -50px; 
}

#ja-search button.button {
  top: 22px;
  right: 20px;
}

#ja-search .btn-toggle {}

.quick-access {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0;
}

.quick-access p.welcome-msg {
  display: none;
}

#ja-myaccount {
  float: right;
  width:60px;
  border-bottom: 0;
  border-top: 0;
  right:120px !important;
  border-left:1px solid #E5E5E5;
}

#ja-myaccount .btn-toggle {
  background: url(../images/icon_link.png) no-repeat center top;
}

#ja-myaccount .inner-toggle {
 width: 160px;
}

.has-toggle .block-account { display: block; }

.has-toggle .block-account { line-height:24px; }

.has-toggle .block-account + .shop-access { display: none; }


.shop-access { float: none; }

.shop-access li {
  background: none;
  border-right:none;
}

.shop-access li a {
  color: #999;
  padding: 10px 0;
  font-family: "Glegoo",serif;
  line-height: 1.3;
  font-size: 14px;
  text-shadow: none;
}

#ja-shopby {
  display: block;
  top: 20px !important;
  position: absolute !important;
  right: 90px !important;
  z-index: 3;
}

#ja-shopby .btn-toggle {
  background-image: url(../images/icon_shopby.png);
}

#ja-shopby .inner-toggle {
  right: -90px;
  width: 180px;
}

/* SLideShow ---*/
.jm-mask-desc {
  display: none !important;
}

#product-review-table tr th:nth-child(1n),
#product-review-tabletr td:nth-child(1n) { width:20%; }

.product-options ul.options-list input.radio { margin-top:0; }

#checkout-review-table tfoot tr th:nth-child(1n),
#checkout-review-table tfoot tr td:nth-child(1n) { border-right:0;}

.checkout-multishipping-overview .multiple-checkout .col-2 .data-table tr th:nth-child(3n),
.checkout-multishipping-overview .multiple-checkout .col-2 .data-table tr td:nth-child(3n) { 
	display: table-column;
    width: 0; 
}

.multiple-checkout .place-order .grand-total { height:auto;}
.multiple-checkout .place-order .grand-total .button { margin-top:10px; }

.page-sitemap .pager .pages { margin:10px 0 0 0 !important; }

.page-sitemap .pager p.amount {display: none;}  

#my-tags-table .add-to-links { width:120px; margin:0 auto}

#oar_widget_orders_and_returns_form input { width:85% !important; }

.product-collateral .box-up-sell .products-grid td,
.product-view .box-up-sell .products-grid tr.last td { border-bottom:1px solid #ddd}

.multiple-checkout .page-title h1 { font-size:100% !important; }
.multiple-checkout .page-title button { right:30px; position:absolute; margin-top:10px; }

#checkout_multishipping_form h2 { font-size:12px!important; margin-top:40px; }
.multiple-checkout .buttons-set .back-link { margin-bottom:20px;}

#ja-footer .main .inner { padding:20px 0; }
#ja-footer .jm-info { padding:10px 20px ; }
.jm-info-right { float:left; text-align:left; }

.review-customer-view .product-review .product-details { width:100%; }

.form-language label,
.form-currency label { display:none; }

.form-currency { right: auto; left: 0; }

.cart .discount .button { margin-bottom:10px; }

.jm-masshead .ja-masshead-title { font-size:30px; text-align:left; padding-left:20px; padding-top:105px; }

.jm-product-deals .products-list .deal-infor-wrap { width:auto; margin-bottom:20px; }
.jm-product-deals .products-list .product-information { width:100%; }
.jm-product-deals .products-list .product-image { margin:0; }
.jm-product-deals .products-list .product-shop { width:100%; margin-top:20px; }
.jm-product-deals .products-list .product-description { margin:0; }

#jm-error {
  background: none;
  margin: 0 auto;
  padding:0px;
}

.add-to-cart button.button.btn-cart { margin-right: 0; }

a.link-compare { display:none; } 

#multiship-addresses-table tbody td:nth-child(2n), 
#multiship-addresses-table tbody td:nth-child(3n) { text-align:center; }

.customer-address-index .page-title button { position:absolute; right:20px; margin-top: 10px; }

#block-related .product-information .add-to-links { margin-top:-3px; }

.catalog-product-view .box-collateral.box-up-sell { display:none; }

#login-form .col-2 { float:left; }

.addresses-list ol li {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/*add new show submenu*/
#ja-mainnav-inner {
  height: auto !important;
}

.jm-megamenu li.mega .childcontent {
  position: static;
}

.jm-megamenu .childcontent-inner-wrap {
  margin: 0;
}

.jm-megamenu .megacol .group-content {
  display: block;
}

.jm-megamenu ul.level1 li.mega a.mega span.menu-title {
  padding-left: 30px;
  /*text-transform: uppercase;*/
}

.jm-megamenu .megamenu.level2 li.mega a.mega span.menu-title {
  color: #FFFFFF;
  text-transform: none;
}

.jm-megamenu .megamenu.level2 li.mega {
  border-left: 0 none;
  border-right: medium none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 20px;
}

.jm-megamenu ul.level1 li.mega a.mega:hover, 
.jm-megamenu ul.level1 li.mega a.mega:focus, 
.jm-megamenu ul.level1 li.mega a.mega:active {
  background: #000000;
}

.jm-megamenu .childcontent ul.megamenu .block {
  display: none;
}

.ja-topsl_bottom ul {
  margin: 0;
  padding: 0;
  list-style:
  none;
  /* width: 1040px; */
}


/** AB HIER DIE SONDEREINSTELLUNGEN **/
input.input-text, .search {
    height: 2em;
    margin-left: 10px;
    width: 20em !important;
}

.form-search {
  text-align: center !important;
}

.remove_from_tablet_portrait {
  display: none !important;
}

.add_to_tablet_portrait {
  display: block !important;
  text-align: center;
}

.static-top1, .static-top2 {
  width: 50% !important;
}

#ja-footer li {
  background: none !important;
}

#ja-mainnav-inner {
    background-color: #ccc !important;
    width: 23em !important;
}