/**
 * Created by PhpStorm.
 * User: STENDEL
 * Date: 19.01.2015
 * Time: 13:20
 * Description: Button Style definitions
 */

.greybutton, .greensubmitbutton {
    background: none repeat scroll 0 0 #cccccc !important;
}

.greenbutton, .greensubmitbutton {
    background: none repeat scroll 0 0 #0e8ddf !important;
}

.bluebutton, .bluesubmitbutton, .bluebutton-small {
    background: none repeat scroll 0 0 #002e5a !important;
}

.bluebutton:hover, .bluesubmitbutton:hover, .bluebutton-small:hover {
    background-color: #0e8ddf !important;
}

.redbutton, .redsubmitbutton {
    background: none repeat scroll 0 0 #ee0031 !important;
}

.yellowbutton, .yellowsubmitbutton {
    background: none repeat scroll 0 0 #ffbd00 !important;
}

.darkbutton, .darksubmitbutton {
    background: none repeat scroll 0 0 #535f64 !important;
}

.greybutton, .greenbutton, .bluebutton, .redbutton, .yellowbutton, .darkbutton, .greysubmitbutton, .greensubmitbutton, .bluesubmitbutton, .redsubmitbutton, .yellowsubmitbutton, .darksubmitbutton {
    box-shadow: 0 0 2px #535f64;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    /*text-transform: uppercase;*/
    font-family: NovecentowideNormalBold, sans-serif;
    font-weight: bold;
}

.greybutton-small, .greenbutton-small, .bluebutton-small, .redbutton-small, .yellowbutton-small, .darkbutton-small, .greysubmitbutton-small, .greensubmitbutton-small, .bluesubmitbutton-small, .redsubmitbutton-small, .yellowsubmitbutton-small, .darksubmitbutton-small {
    box-shadow: 0 0 2px #535f64;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    overflow: visible;
    padding: 1px 5px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    /*text-transform: uppercase;*/
    font-family: NovecentowideBold, sans-serif;
    font-size: 10px;
}

.greybutton:hover, .greenbutton:hover, .yellowbutton:hover, .darkbutton:hover, .checkoutbutton:hover, .greysubmitbutton:hover, .greensubmitbutton:hover, .yellowsubmitbutton:hover, .darksubmitbutton:hover  {
    color: #ffffff !important;
    cursor: pointer;
    background-color: #333333 !important;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(0, 0, 0, 0.3);
}

.redbutton:hover, .redsubmitbutton:hover {
    color: #ffffff !important;
    cursor: pointer;
    background-color: #333333 !important;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(0, 0, 0, 0.3);
}

.searchsubmitbutton {
    background: url("../images/icons/lupe.png") left 0 no-repeat;
    width: 32px !important;
    height: 32px !important;
    border: none !important;
    box-shadow: none !important;
}
.searchsubmitbutton:hover {
    background: url("../images/icons/lupe.png") left -32px no-repeat !important;
}