.icon {
    height: 20px;
    line-height: 20px;
    /*text-indent: 24px;*/
    padding-left: 22px;
}

.actionredo {
	background: url("../images/blue-icons/actionredo.png") 2px center no-repeat;
}
.actionundo {
	background: url("../images/blue-icons/actionundo.png") 2px center no-repeat;
}
.arrow-down {
	background: url("../images/blue-icons/arrow-down.png") 2px center no-repeat;
}
.arrow-downleft {
	background: url("../images/blue-icons/arrow-downleft.png") 2px center no-repeat;
}
.arrow-downright {
	background: url("../images/blue-icons/arrow-downright.png") 2px center no-repeat;
}
.arrow-left {
	background: url("../images/blue-icons/arrow-left.png") 2px center no-repeat;
}
.arrow-right {
	background: url("../images/blue-icons/arrow-right.png") 2px center no-repeat;
}
.arrow-up {
	background: url("../images/blue-icons/arrow-up.png") 2px center no-repeat;
}
.arrow-upleft {
	background: url("../images/blue-icons/arrow-upleft.png") 2px center no-repeat;
}
.arrow-upright {
	background: url("../images/blue-icons/arrow-upright.png") 2px center no-repeat;
}
.arrow2-down {
	background: url("../images/blue-icons/arrow2-down.png") 2px center no-repeat;
}
.arrow2-left {
	background: url("../images/blue-icons/arrow2-left.png") 2px center no-repeat;
}
.arrow2-right {
	background: url("../images/blue-icons/arrow2-right.png") 2px center no-repeat;
}
.arrow2-up {
	background: url("../images/blue-icons/arrow2-up.png") 2px center no-repeat;
}
.arrownext {
	background: url("../images/blue-icons/arrownext.png") 2px center no-repeat;
}
.arrowprevious {
	background: url("../images/blue-icons/arrowprevious.png") 2px center no-repeat;
}
.attach {
	background: url("../images/blue-icons/attach.png") 2px center no-repeat;
}
.back {
	background: url("../images/blue-icons/back.png") 2px center no-repeat;
}
.backtop {
	background: url("../images/blue-icons/backtop.png") 2px center no-repeat;
}
.bubble1 {
	background: url("../images/blue-icons/bubble1.png") 2px center no-repeat;
}
.bubble2 {
	background: url("../images/blue-icons/bubble2.png") 2px center no-repeat;
}
.bubble3 {
	background: url("../images/blue-icons/bubble3.png") 2px center no-repeat;
}
.bubble4 {
	background: url("../images/blue-icons/bubble4.png") 2px center no-repeat;
}
.bubble5 {
	background: url("../images/blue-icons/bubble5.png") 2px center no-repeat;
}
.bubble6 {
	background: url("../images/blue-icons/bubble6.png") 2px center no-repeat;
}
.bug {
	background: url("../images/blue-icons/bug.png") 2px center no-repeat;
}
.calc {
	background: url("../images/blue-icons/calc.png") 2px center no-repeat;
}
.cancel {
	background: url("../images/blue-icons/cancel.png") 2px center no-repeat;
}
.shoppingcart {
	background: url("../images/blue-icons/cart.png") 2px center no-repeat;
}
.char-amp {
	background: url("../images/blue-icons/char-amp.png") 2px center no-repeat;
}
.char-bracketleft {
	background: url("../images/blue-icons/char-bracketleft.png") 2px center no-repeat;
}
.char-bracketright {
	background: url("../images/blue-icons/char-bracketright.png") 2px center no-repeat;
}
.char-colon {
	background: url("../images/blue-icons/char-colon.png") 2px center no-repeat;
}
.char-comma {
	background: url("../images/blue-icons/char-comma.png") 2px center no-repeat;
}
.char-dot {
	background: url("../images/blue-icons/char-dot.png") 2px center no-repeat;
}
.char-equal {
	background: url("../images/blue-icons/char-equal.png") 2px center no-repeat;
}
.char-less {
	background: url("../images/blue-icons/char-less.png") 2px center no-repeat;
}
.char-minus {
	background: url("../images/blue-icons/char-minus.png") 2px center no-repeat;
}
.char-more {
	background: url("../images/blue-icons/char-more.png") 2px center no-repeat;
}
.char-number {
	background: url("../images/blue-icons/char-number.png") 2px center no-repeat;
}
.char-parenthesisleft {
	background: url("../images/blue-icons/char-parenthesisleft.png") 2px center no-repeat;
}
.char-parenthesisright {
	background: url("../images/blue-icons/char-parenthesisright.png") 2px center no-repeat;
}
.char-percent {
	background: url("../images/blue-icons/char-percent.png") 2px center no-repeat;
}
.char-quotation {
	background: url("../images/blue-icons/char-quotation.png") 2px center no-repeat;
}
.char-semicolon {
	background: url("../images/blue-icons/char-semicolon.png") 2px center no-repeat;
}
.char-slash {
	background: url("../images/blue-icons/char-slash.png") 2px center no-repeat;
}
.char-smiley1 {
	background: url("../images/blue-icons/char-smiley1.png") 2px center no-repeat;
}
.char-smiley2 {
	background: url("../images/blue-icons/char-smiley2.png") 2px center no-repeat;
}
.char-smiley3 {
	background: url("../images/blue-icons/char-smiley3.png") 2px center no-repeat;
}
.char-smiley4 {
	background: url("../images/blue-icons/char-smiley4.png") 2px center no-repeat;
}
.char-star {
	background: url("../images/blue-icons/char-star.png") 2px center no-repeat;
}
.char-tilde {
	background: url("../images/blue-icons/char-tilde.png") 2px center no-repeat;
}
.chat {
	background: url("../images/blue-icons/chat.png") 2px center no-repeat;
}
.clipboardcopy {
	background: url("../images/blue-icons/clipboardcopy.png") 2px center no-repeat;
}
.clipboardcut {
	background: url("../images/blue-icons/clipboardcut.png") 2px center no-repeat;
}
.clipboardpaste {
	background: url("../images/blue-icons/clipboardpaste.png") 2px center no-repeat;
}
.clock {
	background: url("../images/blue-icons/clock.png") 2px center no-repeat;
}
.close {
	background: url("../images/blue-icons/close.png") 2px center no-repeat;
}
.computer {
	background: url("../images/blue-icons/computer.png") 2px center no-repeat;
}
.construction {
	background: url("../images/blue-icons/construction.png") 2px center no-repeat;
}
.copyright {
	background: url("../images/blue-icons/copyright.png") 2px center no-repeat;
}
.document {
	background: url("../images/blue-icons/document.png") 2px center no-repeat;
}
.documentgraph {
	background: url("../images/blue-icons/documentgraph.png") 2px center no-repeat;
}
.documentspreadsheet {
	background: url("../images/blue-icons/documentspreadsheet.png") 2px center no-repeat;
}
.documenttext {
	background: url("../images/blue-icons/documenttext.png") 2px center no-repeat;
}
.dollar {
	background: url("../images/blue-icons/dollar.png") 2px center no-repeat;
}
.dollar2 {
	background: url("../images/blue-icons/dollar2.png") 2px center no-repeat;
}
.download {
	background: url("../images/blue-icons/download.png") 2px center no-repeat;
}
.email {
	background: url("../images/blue-icons/email.png") 2px center no-repeat;
}
.euro {
	background: url("../images/blue-icons/euro.png") 2px center no-repeat;
}
.exclamation {
	background: url("../images/blue-icons/exclamation.png") 2px center no-repeat;
}
.face {
	background: url("../images/blue-icons/face.png") 2px center no-repeat;
}
.facehappy {
	background: url("../images/blue-icons/facehappy.png") 2px center no-repeat;
}
.facesad {
	background: url("../images/blue-icons/facesad.png") 2px center no-repeat;
}
.flag {
	background: url("../images/blue-icons/flag.png") 2px center no-repeat;
}
.folder {
	background: url("../images/blue-icons/folder.png") 2px center no-repeat;
}
.folderopen {
	background: url("../images/blue-icons/folderopen.png") 2px center no-repeat;
}
.folderup {
	background: url("../images/blue-icons/folderup.png") 2px center no-repeat;
}
.forbidden {
	background: url("../images/blue-icons/forbidden.png") 2px center no-repeat;
}
.fullscreen {
	background: url("../images/blue-icons/fullscreen.png") 2px center no-repeat;
}
.gear {
	background: url("../images/blue-icons/gear.png") 2px center no-repeat;
}
.gears {
	background: url("../images/blue-icons/gears.png") 2px center no-repeat;
}
.globe {
	background: url("../images/blue-icons/globe.png") 2px center no-repeat;
}
.hand {
	background: url("../images/blue-icons/hand.png") 2px center no-repeat;
}
.health {
	background: url("../images/blue-icons/health.png") 2px center no-repeat;
}
.heart {
	background: url("../images/blue-icons/heart.png") 2px center no-repeat;
}
.myhome {
	background: url("../images/blue-icons/home.png") 2px center no-repeat;
}
.info {
	background: url("../images/blue-icons/info.png") 2px center no-repeat;
}
.info2 {
	background: url("../images/blue-icons/info2.png") 2px center no-repeat;
}
.internet {
	background: url("../images/blue-icons/internet.png") 2px center no-repeat;
}
.key {
	background: url("../images/blue-icons/key.png") 2px center no-repeat;
}
.light {
	background: url("../images/blue-icons/light.png") 2px center no-repeat;
}
.lightoff {
	background: url("../images/blue-icons/lightoff.png") 2px center no-repeat;
}
.link {
	background: url("../images/blue-icons/link.png") 2px center no-repeat;
}
.lock {
	background: url("../images/blue-icons/lock.png") 2px center no-repeat;
}
.lockopen {
	background: url("../images/blue-icons/lockopen.png") 2px center no-repeat;
}
.loop {
	background: url("../images/blue-icons/loop.png") 2px center no-repeat;
}
.mail {
	background: url("../images/blue-icons/mail.png") 2px center no-repeat;
}
.man {
	background: url("../images/blue-icons/man.png") 2px center no-repeat;
}
.media {
	background: url("../images/blue-icons/media.png") 2px center no-repeat;
}
.minus {
	background: url("../images/blue-icons/minus.png") 2px center no-repeat;
}
.mouse {
	background: url("../images/blue-icons/mouse.png") 2px center no-repeat;
}
.music {
	background: url("../images/blue-icons/music.png") 2px center no-repeat;
}
.music2 {
	background: url("../images/blue-icons/music2.png") 2px center no-repeat;
}
.mydocuments {
	background: url("../images/blue-icons/mydocuments.png") 2px center no-repeat;
}
.myimages {
	background: url("../images/blue-icons/myimages.png") 2px center no-repeat;
}
.mymusic {
	background: url("../images/blue-icons/mymusic.png") 2px center no-repeat;
}
.network {
	background: url("../images/blue-icons/network.png") 2px center no-repeat;
}
.no {
	background: url("../images/blue-icons/no.png") 2px center no-repeat;
}
.nuke {
	background: url("../images/blue-icons/nuke.png") 2px center no-repeat;
}
.ok {
	background: url("../images/blue-icons/ok.png") 2px center no-repeat;
}
.ok2 {
	background: url("../images/blue-icons/ok2.png") 2px center no-repeat;
}
.pen {
	background: url("../images/blue-icons/pen.png") 2px center no-repeat;
}
.percent {
	background: url("../images/blue-icons/percent.png") 2px center no-repeat;
}
.phone {
	background: url("../images/blue-icons/phone.png") 2px center no-repeat;
}
.photo {
	background: url("../images/blue-icons/photo.png") 2px center no-repeat;
}
.plane {
	background: url("../images/blue-icons/plane.png") 2px center no-repeat;
}
.playereject {
	background: url("../images/blue-icons/playereject.png") 2px center no-repeat;
}
.playerfastfwd {
	background: url("../images/blue-icons/playerfastfwd.png") 2px center no-repeat;
}
.playerfastrwd {
	background: url("../images/blue-icons/playerfastrwd.png") 2px center no-repeat;
}
.playernext {
	background: url("../images/blue-icons/playernext.png") 2px center no-repeat;
}
.playerpause {
	background: url("../images/blue-icons/playerpause.png") 2px center no-repeat;
}
.playerplay {
	background: url("../images/blue-icons/playerplay.png") 2px center no-repeat;
}
.playerprevious {
	background: url("../images/blue-icons/playerprevious.png") 2px center no-repeat;
}
.playerrecord {
	background: url("../images/blue-icons/playerrecord.png") 2px center no-repeat;
}
.playerslow {
	background: url("../images/blue-icons/playerslow.png") 2px center no-repeat;
}
.playerstop {
	background: url("../images/blue-icons/playerstop.png") 2px center no-repeat;
}
.plus {
	background: url("../images/blue-icons/plus.png") 2px center no-repeat;
}
.pointer {
	background: url("../images/blue-icons/pointer.png") 2px center no-repeat;
}
.poll {
	background: url("../images/blue-icons/poll.png") 2px center no-repeat;
}
.pound {
	background: url("../images/blue-icons/pound.png") 2px center no-repeat;
}
.printer {
	background: url("../images/blue-icons/printer.png") 2px center no-repeat;
}
.printpreview {
	background: url("../images/blue-icons/printpreview.png") 2px center no-repeat;
}
.properties {
	background: url("../images/blue-icons/properties.png") 2px center no-repeat;
}
.question {
	background: url("../images/blue-icons/question.png") 2px center no-repeat;
}
.question-bold {
	background: url("../images/blue-icons/question-bold.png") 2px center no-repeat;
}
.question2 {
	background: url("../images/blue-icons/question2.png") 2px center no-repeat;
}
.recycle {
	background: url("../images/blue-icons/recycle.png") 2px center no-repeat;
}
.refresh {
	background: url("../images/blue-icons/refresh.png") 2px center no-repeat;
}
.rotate {
	background: url("../images/blue-icons/rotate.png") 2px center no-repeat;
}
.rss1 {
	background: url("../images/blue-icons/rss1.png") 2px center no-repeat;
}
.rss2 {
	background: url("../images/blue-icons/rss2.png") 2px center no-repeat;
}
.save {
	background: url("../images/blue-icons/save.png") 2px center no-repeat;
}
.search-icon {
	background: url("../images/blue-icons/search.png") 2px center no-repeat;
}
.security {
	background: url("../images/blue-icons/security.png") 2px center no-repeat;
}
.shutdown {
	background: url("../images/blue-icons/shutdown.png") 2px center no-repeat;
}
.sleep {
	background: url("../images/blue-icons/sleep.png") 2px center no-repeat;
}
.sound {
	background: url("../images/blue-icons/sound.png") 2px center no-repeat;
}
.sounddecrease {
	background: url("../images/blue-icons/sounddecrease.png") 2px center no-repeat;
}
.soundincrease {
	background: url("../images/blue-icons/soundincrease.png") 2px center no-repeat;
}
.soundmute {
	background: url("../images/blue-icons/soundmute.png") 2px center no-repeat;
}
.standby {
	background: url("../images/blue-icons/standby.png") 2px center no-repeat;
}
.star {
	background: url("../images/blue-icons/star.png") 2px center no-repeat;
}
.star2 {
	background: url("../images/blue-icons/star2.png") 2px center no-repeat;
}
.starempty {
	background: url("../images/blue-icons/starempty.png") 2px center no-repeat;
}
.stats {
	background: url("../images/blue-icons/stats.png") 2px center no-repeat;
}
.target {
	background: url("../images/blue-icons/target.png") 2px center no-repeat;
}
.text2 {
	background: url("../images/blue-icons/text2.png") 2px center no-repeat;
}
.textdecrease {
	background: url("../images/blue-icons/textdecrease.png") 2px center no-repeat;
}
.textincrease {
	background: url("../images/blue-icons/textincrease.png") 2px center no-repeat;
}
.time {
	background: url("../images/blue-icons/time.png") 2px center no-repeat;
}
.trash {
	background: url("../images/blue-icons/trash.png") 2px center no-repeat;
}
.underconstruction {
	background: url("../images/blue-icons/underconstruction.png") 2px center no-repeat;
}
.upload {
	background: url("../images/blue-icons/upload.png") 2px center no-repeat;
}
.user {
	background: url("../images/blue-icons/user.png") 2px center no-repeat;
}
.users {
	background: url("../images/blue-icons/users.png") 2px center no-repeat;
}
.video {
	background: url("../images/blue-icons/video.png") 2px center no-repeat;
}
.wizard {
	background: url("../images/blue-icons/wizard.png") 2px center no-repeat;
}
.woman {
	background: url("../images/blue-icons/woman.png") 2px center no-repeat;
}
.write {
	background: url("../images/blue-icons/write.png") 2px center no-repeat;
}
.zoomin {
	background: url("../images/blue-icons/zoomin.png") 2px center no-repeat;
}
.zoomout {
	background: url("../images/blue-icons/zoomout.png") 2px center no-repeat;
}
