/*
 * ------------------------------------------------------------------------
 * JM Flannel Theme
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

/* MAIN CONTAINER
--------------------------------------------------------- */
.main { width: 1000px; }

.wrap { min-width: 0; }

#ja-wrapper { overflow: hidden; }

/* TABLE */
.data-table {
  border-collapse: separate;
}

/* HEADER */
h1#logo a { width: 210px; }

/* Mega Menu */
.childcontent-inner {
  max-width: 682px;
}

.jm-megamenu .megacol.first,
.jm-megamenu .megacol.column3 {
  max-width: 470px;
}

.jm-megamenu .childcontent ul.megamenu .block.block-viewed {
  max-width: 450px;
}

.shop-access li {
	display: inline;
	padding-left: 10px;
	padding-right:0;
	border-right: none;
}

/* Product Detail */
.product-essential .product-shop { width: 390px; }

/* Product List */
.products-list .product-shop { width: 470px; }

.jm-product-deals .products-list .product-information { width: 520px; }

.jm-product-deals .products-list .product-shop { width: 160px; }

.products-grid li.visible-tablet,
.products-grid li.visible-phone { display: none; }

.side-col .jm-product-deals .products-grid .product-image img {
  padding: 15px;
}

.products-grid li.item .jmquickview { display: none !important; }

.products-grid li.item:hover .product-image {
  opacity: 1;
}

/* Newsletter */
.block-subscribe .actions { bottom: 15px; }

/* Lemmon SLider */
.jm-lemmon-slider { width: 650px; }

#ja-current-content .widget-static-block {
  visibility: hidden;
  height: 0;
  margin: 0;
}

/* Slideshow */
.jm-slide-thumbs-wrap {
  right: 40px !important;
}

/* Product SLider */
.jm-products-slider-content,
.divOScrollerBar {
  width: 715px !important;
}

/* My Account */
.review-customer-view .product-review .product-details {
  width: 490px;
}