/*
 * ------------------------------------------------------------------------
 * JM Flannel Theme
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

/* RESPONSIVE FONT SIZES
--------------------------------------------------------- */
body {
  font-size: 13px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /*Fix Mobile Safari Font Scale*/
}

.wrap { min-width: 100%; }

.main { width: 720px; }

.col2-set .col-2,
.col2-set .col-1 { float: none; width: 100%; clear:both; }

.ja-lo-2colsl #ja-mainbody,
.ja-lo-3cols #ja-mainbody { width: 100%; }

.col3-set .col-1,
.col3-set .col-2 {
  width: 48%;
}

.col3-set .col-3 {
  width: 100%;
}

.col4-set .col-1,
.col4-set .col-2,
.col4-set .col-3 {
  width: 33.3%;
}

.col4-set .col-4 {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
}

#ja-wrapper { overflow: hidden; }

#ja-col1,
.ja-lo-2colsl #ja-col1 {
  width: 33.3%;
}

.ja-lo-3cols #ja-col1 {
  display: none;
}

#ja-col2,
.ja-lo-2colsr #ja-col2 {
  width: 33.3%;
}

.catalog-product-view .ja-lo-2colsr #ja-col2,
.review-product-list .ja-lo-2colsr #ja-col2 { display: none; }

#ja-main,
.ja-lo-2colsl #ja-main,
.ja-lo-2colsr #ja-mainbody,
.ja-lo-3cols #ja-mainbody {
  width: 66.6%;
}

.catalog-product-view .ja-lo-2colsr #ja-mainbody,
.review-product-list .ja-lo-2colsr #ja-mainbody {
  width: 100%;
}

.ja-lo-3cols #ja-main {
  width: 100%;
}

.title-buttons h1 {
  text-align: left;
}

.jm-products-slider-listing {
  display: none;
}

#ja-current-content .widget-static-block {
  visibility: hidden;
  height: 0;
  margin: 0;
}

/* Form ---*/
.form-list li .input-box select.address-select {
  width: 100%;
}

.form-list li.wide .input-box input.input-text, .form-list li.wide .input-box textarea {
  width: 100%;
}

button.button, button {
  font-size: 12px;
  text-transform: none;
}

/* Header ---*/
.quick-access {
  right: auto;
  left: 0;
  line-height: 60px;
}

.welcome-msg {
  /*display: none;*/
}

h1#logo, div#logo-text {
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  border-bottom:1px solid #E5E5E5;
}

h1#logo a { width: 100%; background-position: center center; background-repeat: no-repeat; }

.right-box {
  width: 100%;
}

#ja-search,
#ja-mycart { top: 192px; }

/* Top SpotLight ---*/
#ja-topsl .col-1 .block {
  min-height: 0;
}

.ctg-menu {
  padding: 30px;
}

.ctg-menu ul.products-list li a {
  text-transform: none;
}

#ja-topsl .col-3 { display: none; }

#ja-topsl .col-4 { width: 100%; margin-bottom: 20px; }

#ja-topsl .col-4 ul li a { display: inline-block; width: 105px; float: none; }

#ja-topsl .col-5 { width: 100%; }

/* Bottom Spotlight ---*/
.ja-spotlight .col-1, .ja-spotlight .col-2, .ja-spotlight .col-3, .ja-spotlight .col-4 {
  width: 50%;
  border-bottom: 1px solid #1a1a1a;
}

#ja-botsl .col-3,
#ja-botsl .col-4,
#ja-botsl .col-5 { width: 33.3%; border-bottom: 0; }

.block-subscribe .actions {
  bottom: 50px;
  right: 35px;
}

/* Footer ---*/
.socail-footer {
  width: 100%;
  padding: 10px 0;
}

.socail-footer .left-content {
  margin-left: 10px;
}

.socail-footer .right-content {
  margin-right: 10px;
}

#ja-footer ul.links {
  clear: both;
  margin-top: 10px;
}

#ja-footer .jm-legal {
  margin-top: 0;
}

#ja-footer li {
  margin: 0;
  background: none;
}

#ja-footer ul.links {
  margin: 0;
}

/* TABLE */
.data-table {
  border-collapse: separate;
  font-size: 12px;
}

.data-table td, .data-table th { padding: 5px ; text-transform: none; }

.data-table tr.last td, .data-table tr.last th {
  border-bottom: 1px solid #e5e5e5 !important;
}

colgroup col { width: 0; }

.checkout-progress li { width: 100%; }

/* Product Detail ---*/
.product-collateral { margin-right: 0; }

#product-view-tabs { width: 100%; }

#ja-current-content ol.products-list .product-shop { float: left; }

#ja-current-content ol.products-list .product-shop h2.product-name { margin-top: 10px; }

.products-list .product-shop { width: 95%; padding: 0 20px; }

.product-essential .product-shop { padding: 40px 0 20px; }

/* My Account ---*/
.box-account { border: 0; }

.box-account .box-head { padding: 5px 0; }

.box-account .box-head h2 { text-transform: none; }


.box-account #my-orders-table { border-left: 1px solid #e5e5e5; }

.box-account #my-orders-table tr th,
.box-account #my-orders-table tr td {
  padding: 5px;
  text-align: left;
}

#shopping-cart-table {
  border-collapse: collapse;
}

#shopping-cart-table tr td {
  padding: 10px 5px;
  text-align: left;
}

.my-account .box-payment {
  margin-top: 20px;
}

#my-orders-table tr th:nth-child(3n),
#my-orders-table tr td:nth-child(3n) { display: none; }

.order-items #my-orders-table tr th,
.order-items #my-orders-table tr td {
  width: auto;
}

.order-items #my-orders-table tr th:nth-child(3n),
.order-items #my-orders-table tr td:nth-child(3n) {
  display: table-column;
  width: 0;
}

#my-orders-table tr th,
#my-orders-table tr td { width: 20%; }

.box-account .col2-set { margin: 0 0 20px; }

.box-account ol#my_recent_tags, .box-account ol#my_recent_reviews { padding: 0 0 15px; }

.review-customer-view .product-review .product-details { width: auto; float: none; }

/* Login Form ---*/
#login-form .col-1 { margin-bottom: 40px; }

/* Shopping Cart */
#shopping-cart-table thead tr { border-top: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; }

#shopping-cart-table th:nth-child(4n),
#shopping-cart-table td:nth-child(4n),
#shopping-cart-table th:nth-child(5n),
#shopping-cart-table td:nth-child(5n) { display: none; }

#shopping-cart-table th:nth-child(4n+8),
#shopping-cart-table td:nth-child(4n+8) { display: table-cell; padding-left: 5px !important; }

.price { font-size: 120%; }

#ja-current-content .cart-collaterals .totals { float: right; margin: 20px 0 0; width: 100% !important; border-top:1px solid #E5E5E5 }

.cart .cart-collaterals .col2-set { width:100%; }
.cart .cart-collaterals .col2-set .col-1 { width: 48%; float:left; clear:none }
.cart .cart-collaterals .col2-set .col-2  { width: 48%; float:right; clear:none }


/* Wishlist ---*/
#wishlist-table tr th:first-child,
#wishlist-table tr td:first-child { display: none; }

/* Billing Agreements ---*/
#billing-agreements td:nth-child(4n),
#billing-agreements th:nth-child(4n),
#billing-agreements td:nth-child(3n),
#billing-agreements th:nth-child(3n) {
  display: none;
}

/* Checkout ---*/
.multiple-checkout .col2-set .col-2,
.info-set.col2-set .col-2,
.multiple-checkout .col2-set .col-1,
.info-set.col2-set .col-1 {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.multiple-checkout .col2-set,
.info-set.col2-set {
  padding: 15px;
}

/* Multi Checkout ---*/
#multiship-addresses-table select {
  width: 300px;
}

/* Advanced search ---*/
.advanced-search li label {
  text-align: left;
  display: block;
  width: 85px;
}

/* JM Main Menu ---*/
#ja-mainnav { top: 60px; }
.jm-megamenu ul.level0 > li.mega > a.mega { padding: 5px 15px; }
.jm-megamenu li.haschild-over .childcontent,
.jm-megamenu li.haschild:hover > .childcontent,
.jm-megamenu li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent { left: 0; /*show on parent:hover*/ }

.jm-megamenu ul.level0 > li.mega > .childcontent > .childcontent-inner-wrap > .childcontent-inner,
.jm-megamenu ul.level0 > li.mega > .childcontent > .childcontent-inner-wrap ,
.jm-megamenu ul.level0 > li.mega > .childcontent { width: 100% !important; }

.jm-megamenu .jm-product-list .products-grid li.item.last { display: none; }
.jm-megamenu .jm-product-list .products-grid.last li.item .actions { background: none; padding-bottom: 0; }
.jm-megamenu .jm-product-list .products-grid li.item .product-image a { display: block; text-align: center; }

.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner > .column1,
.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner > .column2,
.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner > .column3 { width: 33.3% !important; }

.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner .column3 img { max-width: 100%; }

.jm-megamenu .cols2 > .childcontent-inner-wrap > .childcontent-inner > .column2.last { width: 440px !important; }

.jm-megamenu .childcontent-inner-wrap { padding-top: 0; background: none; }

.jm-megamenu .level1 .megacol.column1,
.jm-megamenu .level1 .megacol.column2 {
  width: 50% !important;
}

.jm-megamenu .childcontent.cols4 .childcontent-inner { width:100% !important}

.jm-megamenu .childcontent.cols4 .childcontent-inner .megacol.column1,
.jm-megamenu .childcontent.cols4 .childcontent-inner .megacol.column3 { float:left; width:66%!important;}

.jm-megamenu .childcontent.cols4 .childcontent-inner .megacol.column2,
.jm-megamenu .childcontent.cols4 .childcontent-inner .megacol.column4  { float:right; width:30%!important;}

.jm-megamenu .childcontent.cols4 .childcontent-inner .megacol.column4 li { float: left; width:180px !important; border-right: none; background:none; }

.jm-megamenu .childcontent.cols4 .childcontent-inner .megacol.column1 ul { width:400px ;}

#ja-search .btn-toggle,
#ja-mycart .btn-toggle { height:60px;}

/* JM Categories List ---*/
.jm-cat-left,
.jm-cat-center,
.jm-cat-right {
  background: none;
  float: none;
  width: 100% !important;
}

.jmzin-box {
  padding: 0;
  margin-bottom:30px;
}

/* Product List ---*/
.products-grid li.item {
  width: 50% !important;
  background-image: none;
}

.products-grid li.item-row-last { margin-bottom: 20px; }

.products-grid li.item-row-last:last-child { margin-bottom: 0; }

.products-grid li.item.first { clear: none; }

.products-grid li.visible-tablet + li.item,
.products-grid li.item:first-child {
  background: url(../images/dot.gif) repeat-y right top;
}

.products-grid li.separator { display: none; }

.products-grid li.visible-tablet { display: block; }

.products-grid li.separator-last:last-child { display: none; }

.products-grid .product-image img {
  padding: 0;
}

.products-grid .item-row-last .actions,
.jm-product-list .products-grid.last .actions {
  padding-bottom: 20px;
}

.products-grid li.item .jmquickview { display: none !important; }

.products-grid li.item:hover .product-image {
  opacity: 1;
}

.products-grid .product-information .add-to-links,
.products-grid li.item:hover .product-information .add-to-links {
  display: none;
}

.products-grid .add-to-links a { margin-left:0px !important; }

.ratings .rating-links {
  font-size: 10px;
}

.ratings .separator {
  margin: 0;
}

.toolbar .view-mode {
  margin-right: 15px;
  padding-right: 15px;
}

.toolbar .limiter {
  display: none;
}

.toolbar .pager {
  padding-right: 15px;
}

.pager .pages {
  margin: 0;
}

.truncated { display: none; }

.jm-product-deals.grid .products-grid { width:100% }
.jm-product-deals.grid .products-grid li { background:none; width:100% !important; float:left;}

.jm-product-deals .products-grid .product-image { width:99%}
.jm-product-deals .products-grid .deals-info li {width: auto !important;}

.jm-product-deals .products-list .product-shop,
.jm-product-deals .products-list .product-description {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.jm-product-deals .products-list .product-image,
.jm-product-deals .products-list .product-image a {
  border: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.jm-product-deals .products-list .product-image img {
  display: inline;
}

.jm-product-deals .products-list button.btn-cart {
  text-align: left;
}

.side-col .jm-product-deals .products-grid li { margin-top:20px; }
.side-col .jm-product-deals .products-grid .product-image { width:auto ; margin-left:20px; }

.jm-product-deals .products-list .deal-infor-wrap { float:none; width:100%; margin-bottom:20px;}

.jm-product-deals .products-list .product-information,
.jm-product-deals .products-list .product-shop { float:left; width:100%}

.block-banner { overflow: hidden; }

.jm-slide-thumbs-wrap {  right: auto; left: 350px; }


#jm-error {
  background: none;
  margin: 0 auto;
  padding:0px;
}

#block-related  li.separator { margin:0 20px 20px 20px; }

.ja-topsl_bottom ul {
  margin: 0;
  padding: 0;
  list-style:
  none;
  width: auto !important;
}

.ja-topsl_bottom li span.color-text1 {
  color: #707f87;
  font-size: 1em !important;
  font-family: NovecentowideBold, sans-serif;
  letter-spacing: 3px;
  line-height: 1.3em;
}

.ja-topsl_bottom li span.color-text2 {
  color: #3789c5;
  font-size: 0.9em !important;
  font-family: NovecentowideBold, sans-serif;
  letter-spacing: 2px;
  line-height: 1.3em;
}

.ja-topsl_bottom li span.color-text4 {
  color: #666;
  font-size: 0.8em !important;
  line-height: 2em;
  /*font-family: 'NovecentowideBookBold';*/
}

.remove_from_tablet_portrait {
  display: none !important;
}

.add_to_tablet_portrait {
  display: block !important;
  text-align: center;
}

.static-top1, .static-top2 {
  width: 50% !important;
}

#ja-footer li {
  background: none !important;
}
