/*
 * ------------------------------------------------------------------------
 * JM Flannel Theme
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

.main,
.ja-lo-2colsl #ja-mainbody,
.ja-lo-2colsr #ja-mainbody,
.ja-lo-3cols #ja-mainbody,
.ja-lo-3cols #ja-main {
  width: 100%;
}

#ja-current-content { padding-left: 10px; padding-right: 10px; }

#ja-search, #ja-mycart { top:61px !important ; }

#ja-quickaccess { height:60px; }
.shop-access { position:absolute; }
.shop-access li { padding-right:0px; padding-left:5px; }

#ja-myaccount .inner-toggle { left:0; width:140px; }

.catalog-category-view .page-title,
.checkout-cart-index .cart .page-title  { margin-left:-10px; }

.cart .title-buttons ul {
    float: left;
    right: 20px;
    margin-top: 40px;
    position: absolute;
}

/* Top Spotlight ---*/
#ja-topsl .col-4 { display: none; }

.ctg-menu { padding: 20px; }

.ctg-menu ul.products-list li a { text-transform: none; }


.catalog-category-view .category-products { margin:0 -10px;}

/* Bottom Spotlight ---*/
#ja-botsl .col-1, 
#ja-botsl .col-2, 
#ja-botsl .col-3, 
#ja-botsl .col-4 {
  width: 100%;
  background: none;
  border-bottom: 1px solid #1A1A1A;
}

.block-subscribe .actions { bottom:35px; }

/* Mass Bottom ---*/
#ja-mass-bottom { display: none; }

/* Product List ---*/
.products-grid li.item,
.products-grid li.item.last {
  width: 100% !important;
  background: none !important;
  border-bottom:1px solid #E5E5E5;
  padding-bottom:20px;
}

.products-grid .product-information { clear:both; }
.products-grid .product-information .price-box { border-bottom:none; }

.products-grid .ratings .rating-links { float:right; margin:0;}
.products-grid .product-information .price-box { margin-bottom:0; }

.products-grid li.visible-phone { display:none !important;}

.add-to-links a { margin-left:0; }

.products-grid .product-information .add-to-links {  float:right; margin-top:0px; }
/* Product Detail ---*/
.product-view .product-img-box, .product-view .product-img-box .product-image, .product-view .product-img-box .product-image img {
    height: 100%;
    width: 100%;
}

.products-grid .product-image { width:85%; text-align:center; }
.products-grid .product-image img { display: inline; }


ul.ja-tab-navigator li { border-right:none; text-align:center; width:100%; padding:0; }

.ja-tab-content {
  padding: 10px;
}

#shopping-cart-table tr td {
  padding: 10px 2px;
  text-align: left;
  font-size:11px;
}

#shopping-cart-table tfoot tr td { padding:10px; }


.box-tags .form-add .button { margin-top:10px; }

#block-related .product-image { width:87%; text-align:center;}
#block-related .product-image img { display:inline !important; }

#block-related .ratings .rating-links { float:right; margin:0; }

.block-related .block-subtitle { padding:20px 0; }

#review-form td, #review-form th {
  border: 0 !important;
  padding: 0;
  text-align: left;
  text-transform:none; 
}

/* Header ---*/
#brand_intro { display: none; }

h1#logo, div#logo-text { float: none; }

h1#logo a { margin: 0 auto; }

.category-products {
  margin: 0 -10px;
}


#my-reviews-table tr th:nth-child(3n),
#my-reviews-table tr td:nth-child(3n) { display: none; }

#form-validate .fieldset .legend { font-size: 105%; }

.box-account #my-orders-table tr th, 
.box-account #my-orders-table tr td { padding:5px 2px; }

#my-tags-table .ratings .amount { float:left; margin-top:5px; }
#my-tags-table .add-to-links .link-wishlist { margin-left:0; }
 
.sales-order-history #my-orders-table tr th:nth-child(5n),
.sales-order-history #my-orders-table tr td:nth-child(5n) { display: none;}

.order-items #my-orders-table td, .order-items #my-orders-table th { padding:10px 0 !important}
.order-items #my-orders-table tfoot tr td { padding:5px; }


.customer-address-index .col2-set.addresses-list { margin-top:40px; }

#wishlist-table tr th:nth-child(4n),
#wishlist-table tr td:nth-child(4n) { display: none; }

/* Billing Agreements ---*/
#billing-agreements td:nth-child(5n),
#billing-agreements th:nth-child(5n),
#billing-agreements td:nth-child(4n),
#billing-agreements th:nth-child(4n),
#billing-agreements td:nth-child(3n),
#billing-agreements th:nth-child(3n) {
  display: none;
}

.cart .cart-collaterals .col2-set .col-1, 
.cart .cart-collaterals .col2-set .col-2 { width:100%; }

.cart .page-title.title-buttons { margin-bottom:50px; }


.page-title { margin-left:-10px; }
.cms-index-index .page-title { margin-left:-20px; }

.checkout-multishipping-overview .multiple-checkout .col-2 .data-table tr th,
.checkout-multishipping-overview .multiple-checkout .col-2 .data-table tr td { padding:5px 2px !important; font-size:11px; }

.data-table thead tr th, .data-table thead tr td { background:#000 !important;}

#checkout-review-table tr th:nth-child(3n),
#checkout-review-table tr td:nth-child(3n) {
  display: table-column;
  width: 0;
}

#checkout-review-table tr th,
#checkout-review-table tr td { padding:5px 3px !important; font-size:11px; }

#checkout-step-login ul.ul li { padding-bottom:10px; }

.multiple-checkout .page-title button { right:20px; }

.jm-product-deals .page-title { margin-left:-20px;}
.jm-product-deals .products-list .product-image { width:165px; text-align:center; padding-top:20px;  }
.jm-product-deals .products-list .product-image img { width:150px; height:150px; display:inline; }

.niveus_productvideo_container_thumb {
    float: left;
    height: 100% !important;
    width: 100% !important;
}

.niveus_productvideo_container_player {
    float: left;
    height: 219px !important;
    width: 100% !important;
  margin-top: 0;
}
