/*
 * ------------------------------------------------------------------------
 * JM Flannel Theme
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

.main { width: 1040px; }

#ja-current-content .widget-static-block {
    visibility: hidden;
    height: 0;
    margin: 0;
}