/**
 * Stendel_OrderComment
 *
 * @category  Stendel
 * @package   Stendel_OrderComment
 * @version   1.0.0
 * @copyright 2015 Stefan Stendel (www.foto-stendel.de)
 */

.customer-notice.field {
    border: 1px solid #d9dde3;
    border-width: 0 1px;
    padding: 10px 30px;
}

.customer-notice.field > label {
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 6px;
}

.customer-notice.field > textarea {
    width: 98%;
    min-height: 80px;
}