#v-nav {
	position: relative;
    font-size: 100%;
    /*text-transform: uppercase;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: visible;
}

#v-nav li.level0 a {
    display: block;
    height: auto;
    line-height: normal;
    padding: 10px 0;
    text-decoration: none;
    background: #002e5a;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: all 0.3s ease-out 0s;
}

#v-nav li.level0.last a,
#v-nav li.level0 ul a{
    border-bottom: 0;
}

#v-nav li.level0 a:hover,
#v-nav li.level0.selected a,
#v-nav li.level0.active a{
    background: #002e5a;
    color: #0e8ddf;
    padding-left: 10px;
    transition: all 0.3s ease-out 0s;
}

.level-top a:hover,
.level-top.selectd a,
.level-top.active a {
    border-left: 5px solid #0e8ddf;
}

#v-nav li.level0 li a:hover {
    text-decoration: none;
    border-left: 5px solid #0e8ddf;
    padding-left: 8px;
    transition: all 0.3s ease-out 0s;
}

#v-nav li.level0 ul.level0 {
    display: none;
    position: absolute;
    left: 165px;
    margin: -37px 0 0 0;
    border: 1px solid #002e5a;
    background: #002e5a;
    padding: 15px 10px;
    -webkit-box-shadow: 1px 0px 1px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    1px 0px 1px rgba(50, 50, 50, 0.47);
    box-shadow:         1px 0px 1px rgba(50, 50, 50, 0.47);
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

#v-nav li.level0 ul.level0 a,
#v-nav li.level0.selected ul.level0 a{
    background: #002e5a;
    color: #ffffff;
}
#v-nav li.level0 ul.level0 a,
#v-nav li.level0.selected ul.level0 a:hover{
    background: #002e5a;
    color: #0e8ddf;
    text-transform: none;
    margin: 5px 0 5px;
}

#v-nav li.level0 ul.level0 li.level1 ul li.level2 a {
    font-weight: normal;
    font-size: 12px;
    padding: 3px 0 3px 20px;
}

#v-nav ul li.level1 a:hover {
    padding-left: 20px;
}

#v-nav li.level0 ul.level0 li.level1 ul li.level2 a:hover {
    padding: 3px 0 3px 30px;
}

#v-nav li.level1 {
    width: 160px;
    margin-left: 10px;
    /*padding: 0px 15px;*/
    float: left;
    border-bottom: 1px solid #ffffff;
}
#v-nav .v-nav-right {
    text-align: justify;
}
#v-nav .img-bottom .v-nav-right{
    padding: 15px 0 0 0;
    clear: both;
}

/*col 1 */
.vcol-1.img-bottom{
    width: 200px;
}

.vcol-1.img-bottom .v-nav-left {
    width: 200px;
}
.vcol-1.img-bottom .v-nav-left li {
    width: 200px;
}

.vcol-1.img-bottom .v-nav-right {
     width: 200px;
 }

.vcol-1.img-right{
    width: 350px;
}

.vcol-1.img-right .v-nav-left {
    width: 150px;
    float: left;
    clear: both;
}

.vcol-1.img-right .v-nav-right {
    width: 200px;
    float: right;
}

/*col 2 */
.vcol-2.img-bottom{
    width: 300px;
}

.vcol-2.img-bottom .v-nav-left {
    width: 300px;
}

.vcol-2.img-bottom .v-nav-right {
    width: 300px;
}

.vcol-2.img-right{
    width: 500px;
}

.vcol-2.img-right .v-nav-left {
    width: 300px;
    float: left;
    clear: both;
}

.vcol-2.img-right .v-nav-right {
    width: 200px;
    float: right;
}



/*col 3 */
.vcol-3.img-bottom{
    width: 450px;
}

.vcol-3.img-bottom .v-nav-left {
    width: 450px;
}

.vcol-3.img-bottom .v-nav-right {
    width: 450px;
}

.vcol-3.img-right{
    width: 650px;
}

.vcol-3.img-right .v-nav-left {
    width: 450px;
    float: left;
    clear: both;
}

.vcol-3.img-right .v-nav-right {
    width: 200px;
    float: right;
}




























/*

#nav li {
    padding: 0;
    margin: 0;
    float:left;
    word-wrap:break-word;
    width: auto;
    color: #555557;
    border: 0;
    position: static;


}

#nav li a{
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    width: auto;
    padding: 5px 12px 6px 8px;
}
#nav li.last a{
    background: none;
}

#nav li a:hover,
#nav li.selected  a,
#nav li.active a  {
    background: #ffffff;
}

#nav .menu.children3 {
    background: #ffffff;
    border-top: 2px solid #dc4c04;
}

SUB level8
#nav li ul {
    text-align: left;
    position: absolute;
    display: block;
    background: #ffffff;
    height: auto;
    top: 29px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    padding: 29px 0 34px 0;
    background:  #ffffff;
    -webkit-box-shadow: 1px 4px 4px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    1px 4px 4px rgba(50, 50, 50, 0.47);
    box-shadow:         1px 4px 4px rgba(50, 50, 50, 0.47);
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top: 0;
    z-index: 999;
}
#nav li ul a {
    display: inline;
    padding: 0;
    margin: 0;
    height: auto;
}
#nav li ul a:hover{
    color: #555557;
    text-decoration: underline;
}

#nav li ul.level0 {
    display: none;
}

#nav li ul ul {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-radius: 0px;
}
#nav li ul.level0 li{
    line-height: normal;
    padding: 0;
    margin: 0 20px 10px 0;
    float: left;
    height: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: normal;
    background: none;
}
#nav .nav-left.tc-img li {
    width: 30%;
}
#nav .nav-left.tc-without-img li {
    width: 22%;
}

#nav .nav-left.tc-img li ul li,
#nav .nav-left.tc-without-img li ul li{
    width: 100%;
}

#nav li ul.level0 li a{
    display: inline;
    background: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #555557;

}
#nav li ul.level0 li a span{
    font-weight: bold;
}
#nav li ul.level0 li a:hover {
    background: none;
}
/*SUB level 8
#nav li ul.level0 li ul.level1 {
    border: 0;
    height: auto;
    position: relative;
    width: auto;
    top: 0;
    margin: 0;
    padding: 0;
}
#nav li ul.level0 li ul.level1 li {
    clear: both;
    margin: 0;
    padding: 0 0 0 8px;
}
#nav li ul.level0 li ul.level1 li a span{
    font-weight: normal;
    font-size: 12px;
    font-weight: normal;

}

#nav ul.nav-left, #nav ul.nav-right {
    height: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    border: 0;
    top: 0;
}
#nav ul.nav-left {
    float: left;
    margin: 0 0 0 20px;
}
#nav ul.nav-left.tc-img {
    width: 71%;
}

#nav ul.nav-left.tc-without-img {
    width: 100%;
}

#nav ul.nav-right {
    width: 25%;
    float: right;
    font-size: 12px;
    text-align: center;

}

#nav ul.nav-right img {
    margin:  0 0 5px 0;
}
#nav ul.nav-right span {
    text-align: justify;
    display: inline-block;
}
*/